.home {
	&-theory {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.41) 0%, #ffffff 100%),
			linear-gradient(180deg, rgba(56, 185, 183, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
		padding-top: rem(44);
		padding-bottom: rem(93);

		@include media(sm) {
			padding-top: rem(55);
			padding-bottom: rem(20);
		}

		.container {
			> h4 {
				font-size: rem(18);
				font-weight: 400;
				letter-spacing: rem(1.5);
				line-height: rem(32);
				text-transform: uppercase;
				margin-bottom: rem(10);

				@include media(sm) {
					font-size: rem(14);
					letter-spacing: rem(1.17);
					margin-bottom: rem(0);
				}
			}

			> h3 {
				font-size: rem(50);
				font-weight: 400;
				letter-spacing: rem(0.8);
				line-height: rem(50);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.36);
					line-height: rem(44);
				}
			}
		}

		&__text {
			padding-top: rem(35);
			margin-bottom: rem(80);
			@include flex(row, space-between, flex-start);

			@include media(sm) {
				margin-bottom: rem(50);
				padding-top: rem(25);
			}

			&--img {
				width: 15%;

				@include media(sm) {
					width: 19%;
				}
			}

			&--text {
				width: 81%;
				max-height: rem(300);
				flex-wrap: wrap;
				@include flex(column, flex-start, flex-start);

				@include media(lg) {
					max-height: rem(500);
				}

				@include media(sm) {
					max-height: inherit;
					width: 73.5%;
				}

				p {
					width: 47%;
					padding-bottom: rem(15);
					line-height: rem(26);

					@include media(sm) {
						width: 100%;
						font-size: rem(14);
						line-height: rem(24);
					}
				}
			}
		}

		&__compare {
			flex-wrap: wrap;
			@include flex(row, space-between, flex-start);

			h4 {
				width: 100%;
				font-size: rem(24);
				font-weight: 700;
				line-height: rem(32);
				margin-bottom: rem(33);

				@include media(sm) {
					font-size: rem(22);
					line-height: rem(30);
				}
			}

			&--img {
				width: 57%;

				@include media(lg) {
					width: 50%;
				}

				@include media(sm) {
					width: 100%;
					margin-bottom: rem(70);
				}
			}

			&--list {
				background-color: $c_blue;
				border-radius: 5px;
				display: inline-block;
				padding: rem(15) rem(20) 0 rem(23);
				max-width: rem(300);
				position: relative;

				@include media(sm) {
					max-width: inherit;
				}

				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: rem(30);
					left: rem(-5);
					height: rem(10);
					width: rem(10);
					background-color: $c_blue;
					transform: rotate(45deg);

					@include media(sm) {
						top: rem(-5);
						left: rem(25);
					}
				}

				h4 {
					font-size: rem(20);
					font-weight: 700;
					line-height: rem(32);
					text-transform: uppercase;
					color: #ffffff;
					margin-bottom: rem(20);
				}

				ul {
					li {
						counter-increment: my-awesome-counter;
						position: relative;
						margin-bottom: rem(25);
						color: #ffffff;
						line-height: rem(21);
						@include flex(row, flex-start, flex-start);

						&:before {
							flex-shrink: 0;
							content: counter(my-awesome-counter);
							width: rem(32);
							height: rem(32);
							background-color: #ffffff;
							color: $c_blue;
							border-radius: 50%;
							font-family: $f_mav;
							margin-right: rem(12);
							@include flex;
						}
					}
				}
			}
		}
	}
}
