.home {
	&-hero {
		height: rem(522);
		position: relative;
		background-image: $c_gradient;

		@include media(lg) {
			height: auto;
			padding-bottom: rem(82);
		}

		&--des {
			&-1 {
				width: 2px;
				height: rem(123);
				background-color: rgba(#ffffff, .3);
				position: absolute;
				top: 0;
				left: 65%;

				@include media(lg) {
					width: rem(60);
					height: 2px;
					top: 70%;
					left: 0;
				}

				@include media(sm) {
					top: 75%;
					width: rem(40);
				}

				&:before {
					content: '';
					display: inline-block;
					width: rem(33);
					height: rem(26);
					background-image: url('../img/blockquote.svg');
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					position: absolute;
					top: 110%;
					right: 50%;
					transform: translate(50%);

					@include media(lg) {
						transform: translate(0, -50%);
						right: rem(-50);
						top: 50%;
					}

					@include media(sm) {
						width: rem(28);
						height: rem(23);
					}
				}
			}

			&-2 {
				width: 2px;
				height: rem(50);
				background-color: #169bc5;
				position: absolute;
				bottom: rem(-20);
				left: 65%;

				@include media(lg) {
					bottom: rem(-100);
					left: 12%;
				}

				@include media(sm) {
					left: 21%;
				}

				&:before {
					content: '';
					display: block;
					background-color: #ffffff;
					height: rem(30);
				}
			}
		}

		.slick {
			&-slider {
				position: static;
			}

			&-track {
				height: 100%;
				//@include flex;
			}

			&-slide {
				height: 100%;
				outline: none;
				margin: 0 10px;

				> div {
					height: 100%;
				}
			}

			&-list {
				height: 100%;
				margin: 0 -10px;
				//@include flex;
			}

			&-dots {
				position: absolute;
				bottom: rem(16);
				left: 50%;
				transform: translateX(-50%);
				@include flex;

				@include media(lg) {
					bottom: rem(-50);
				}

				li {
					&:not(:last-child) {
						margin-right: rem(9);
					}

					&.slick-active {
						button {
							background-color: rgba(#ffffff, 1);
						}
					}

					button {
						color: transparent;
						height: 8px;
						width: 8px;
						border-radius: 50%;
						background-color: rgba(#ffffff, .3);
						transition: background-color .3s linear;
					}
				}
			}
		}

		.container {
			height: 100%;
			color: #ffffff;
			padding-top: rem(87);
			position: relative;
			@include flex(row, space-between, flex-start);

			@include media(lg) {
				flex-wrap: wrap;
				padding-top: rem(41);
			}
		}

		&--buttons {
			margin-top: rem(25);
			@include flex(row, flex-start);

			._start {
				margin-right: rem(15);
			}

			._video {
				&:before {
					content: '';
					display: inline-block;
					width: rem(12);
					height: rem(17);
					background-image: url('../img/video-btn-icon.png');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					margin-right: rem(8);
				}
			}
		}

		&--left {
			width: 60%;

			@include media(lg) {
				width: 100%;
			}

			h4 {
				font-size: rem(24);
				line-height: rem(32);

				@include media(sm) {
					font-size: rem(18);
				}
			}

			h3 {
				font-size: rem(42);
				letter-spacing: rem(2.5);
				line-height: rem(50);
				margin-bottom: rem(20);

				@include media(sm) {
					line-height: rem(40);
					font-size: rem(36);
					letter-spacing: rem(0.36);
					margin-bottom: rem(15);
				}
			}

			p {
				font-size: rem(20);
				line-height: rem(30);
				padding-bottom: rem(3);

				@include media(sm) {
					line-height: rem(22);
					font-size: rem(16);
					padding-bottom: 0;
				}
			}
		}

		&--right {
			padding-top: rem(35);
			width: 31%;
			overflow: hidden;

			@include media(lg) {
				padding-left: rem(111);
				width: 100%;
				max-width: rem(400);
			}

			@include media(sm) {
				padding-left: rem(85);
			}

			blockquote {
				position: relative;

				h4 {
					font-size: rem(28);
					letter-spacing: rem(0.28);
					line-height: rem(50);
					font-family: $f_ab;
					margin-bottom: rem(9);

					@include media(sm) {
						font-size: rem(22);
						letter-spacing: rem(0.22);
						margin-bottom: rem(0);
					}
				}

				p {
					font-size: rem(13);
					font-weight: 500;
					line-height: rem(21);
					opacity: .7;
					padding-bottom: rem(25);

					@include media(sm) {
						font-size: rem(13);
						line-height: rem(19);
						padding-bottom: rem(15);
					}
				}
			}
		}
	}
}
