.home {
	&-wwa {
		background-color: $c_bg;
		padding-top: rem(62);
		padding-bottom: rem(85);

		.container {
			@include flex(row, space-between, flex-start);

			@include media(lg) {
				flex-wrap: wrap;
			}
		}

		&__img {
			position: relative;
			width: rem(330);
			height: rem(233);
			margin-bottom: rem(55);

			@include media(sm) {
				width: rem(258);
				height: rem(180);
			}

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: rem(308);
				height: rem(279);
				background-color: rgba($c_blue, .1);

				@include media(sm) {
					width: rem(238);
					height: rem(220);
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: rem(30);
				left: rem(72);

				@include media(sm) {
					left: rem(66);
				}
			}
		}

		&--left {
			width: 40%;

			@include media(lg) {
				width: 100%;
				margin-bottom: rem(50);
				margin-right: rem(65);
				@include flex(column, center, flex-end);
			}

			@include media(sm) {
				margin: 0;
				align-items: flex-start;
				margin-bottom: rem(65);
			}

			h5 {
				font-size: rem(20);
				font-weight: 700;
				line-height: rem(28);

				@include media(sm) {
					font-size: rem(16);
					line-height: rem(24);
				}
			}
		}

		&--right {
			width: 49%;

			@include media(lg) {
				width: 100%;
			}

			h4 {
				font-size: rem(18);
				font-weight: 400;
				letter-spacing: rem(1.5);
				line-height: rem(32);
				text-transform: uppercase;

				@include media(sm) {
					font-size: rem(14);
					letter-spacing: rem(1.17);
				}
			}

			h3 {
				font-size: rem(42);
				font-weight: 400;
				letter-spacing: rem(0.42);
				line-height: rem(50);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.37);
					line-height: rem(42);
				}

				span {
					display: block;
				}
			}

			p {
				padding-top: rem(20);
				padding-bottom: rem(30);
				font-size: rem(20);
				line-height: rem(30);

				@include media(sm) {
					font-size: rem(18);
					line-height: rem(28);
					padding-bottom: rem(35);
				}
			}
		}
	}
}
