.home {
	&-stocks {
		padding: rem(10) 0;
		background-color: $c_blue;
		overflow: hidden;

		.slick {
			&-track {
				//@include flex;
			}

			&-slide {
				padding: 0 rem(5);
				outline: none;
			}

			&-list {
				height: 100%;
				//@include flex;
			}
		}

		&__item {
			height: rem(60);
			width: rem(190) !important;
			background-color: #ffffff;
			border-radius: 6px;
			box-shadow: 0 rem(4) rem(15) rgba(7, 42, 68, 0.1);
			padding: rem(5);
			flex-wrap: wrap;
			@include flex(row, space-between);

			@include media(sm) {
				width: rem(170) !important;
			}

			h4 {
				width: rem(61);
				height: rem(23);
				border-radius: 3px;
				background-color: $c_blue;
				color: #ffffff;
				font-weight: 700;
				text-align: center;
				display: inline-block;

				@include media(sm) {
					font-size: rem(13);
					padding-top: rem(4);
				}
			}

			span {
				color: #000000;
				font-weight: 500;
				width: 60%;
				text-align: center;
				display: inline-block;

				@include media(sm) {
					font-size: rem(14);
					width: 55%;
				}
			}

			label {
				width: 100%;
				text-align: center;
				display: inline-block;
				padding-top: rem(5);
				font-size: rem(18);
				font-weight: 600;
				line-height: rem(24);

				@include media(sm) {
					font-size: rem(16);
				}

				&._up {
					color: #6ca21e;
				}

				&._down {
					color: #ff6666;
				}
			}
		}
	}
}
