.home {
	&-about {
		padding-top: rem(80);
		padding-bottom: rem(200);

		@include media(sm) {
			padding-bottom: rem(100);
		}

		> h4 {
			text-align: center;
			font-size: 18px;
			letter-spacing: rem(1.5);
			line-height: rem(32);
			text-transform: uppercase;

			@include media(sm) {
				font-size: rem(14);
			}
		}

		> h2 {
			text-align: center;
			font-size: rem(50);
			letter-spacing: rem(0.5);
			line-height: rem(50);
			margin-bottom: rem(-25);

			@include media(sm) {
				font-size: rem(26);
				letter-spacing: rem(0.26);
			}
		}

		.container {
			max-width: 940px;
			border: rem(8) solid $c_blue;
			border-top: none;
			padding: 0 rem(50);
			padding-top: rem(65);
			padding-bottom: rem(45);
			position: relative;
			flex-wrap: wrap;
			@include flex(row, space-between, flex-start);

			@include media(lg) {
				max-width: 718px;
			}

			@include media(sm) {
				padding: 0 rem(15);
				padding-top: rem(40);
				padding-bottom: rem(30);
				width: calc(100% - #{rem(50)});
			}

			&:before,
			&:after {
				content: '';
				display: inline-block;
				height: rem(8);
				background-color: $c_blue;
				width: 21%;
				position: absolute;
				top: 0;

				@include media(lg) {
					width: 13%;
				}

				@include media(sm) {
					width: 5%;
				}
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}

			> h3,
			> h4 {
				width: 100%;
				font-size: rem(42);
				line-height: rem(48);
				font-family: $f_av;

				@include media(sm) {
					font-size: rem(24);
					line-height: rem(28);
				}
			}

			h3 {
				color: #007bd5;
				font-weight: 600;
				position: relative;

				&:before {
					content: '';
					display: inline-block;
					width: rem(17);
					height: rem(78);
					background-image: url('../img/home-about-el.png');
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					position: absolute;
					top: 0;
					left: rem(-57);

					@include media(sm) {
						left: rem(-22.5);
						height: rem(58);
					}
				}
			}

			h4 {
				color: #47495a;
			}
		}

		&--left {
			width: 32%;

			@include media(sm) {
				width: 100%;
				margin-bottom: rem(25);
			}

			p {
				color: #454f5b;
				font-size: rem(19);
				line-height: rem(27);

				@include media(sm) {
					font-size: rem(16);
					line-height: rem(24);
				}

				&:first-child {
					padding-top: rem(9);
				}

				&:not(:last-child) {
					margin-bottom: rem(23);
				}
			}
		}

		&--right {
			padding-top: rem(10);
			width: 65.4%;

			@include media(sm) {
				width: 100%;
			}

			ul {
				li {
					padding-left: rem(21);
					position: relative;

					&:before {
						content: '';
						display: inline-block;
						width: rem(14);
						height: rem(14);
						background-image: url('../img/list-dot.svg');
						background-size: cover;
						position: absolute;
						top: rem(5);
						left: 0;
					}

					&:not(:last-child) {
						margin-bottom: rem(32);

						@include media(sm) {
							margin-bottom: rem(15);
						}
					}

					h4 {
						font-size: rem(20);
						font-weight: 600;
						line-height: rem(24);
						margin-bottom: rem(10);

						@include media(sm) {
							font-size: rem(16);
							line-height: rem(20);
						}
					}

					p {
						color: #6a7c92;
						font-size: rem(14);
						line-height: rem(22);

						@include media(sm) {
							font-size: rem(12);
							line-height: rem(20);
						}
					}
				}
			}
		}

		blockquote {
			max-width: rem(779);
			text-align: center;
			color: #454f5b;
			font-size: rem(22);
			font-weight: 500;
			line-height: rem(34);
			margin: 0 auto;
			margin-top: rem(130);
			position: relative;
			@include flex(column);

			@include media(sm) {
				margin-top: rem(140);
				font-size: rem(18);
				line-height: rem(28);
				padding: 0 rem(15);
			}

			&:before {
				content: '';
				display: inline-block;
				width: rem(41);
				height: rem(33);
				background-image: url('../img/blockquote-gradient.svg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				top: rem(-44);
				left: 50%;
				transform: translateX(-50%);
			}

			p {
				padding-top: rem(13);
				padding-bottom: rem(30);
			}
		}
	}
}
