.home {
	&-media {
		padding-top: rem(85);
		padding-bottom: rem(160);

		.container {
		}

		&__text {
			text-align: center;
			padding-bottom: rem(30);
			@include flex(column);

			> h4 {
				font-size: rem(18);
				font-weight: 400;
				letter-spacing: rem(1.5);
				line-height: rem(32);
				text-transform: uppercase;

				@include media(sm) {
					font-size: rem(14);
					letter-spacing: rem(1.17);
					line-height: rem(26);
				}
			}

			> h3 {
				font-size: rem(47);
				font-weight: 400;
				letter-spacing: rem(0.47);
				line-height: rem(50);
				margin-bottom: rem(15);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.35);
					line-height: rem(42);

					span {
						display: block;
					}
				}
			}

			p {
				font-size: rem(20);
				line-height: rem(28);
				max-width: rem(600);
				text-align: center;

				@include media(sm) {
					font-size: rem(18);
					line-height: rem(26);
				}
			}
		}

		&__video {
			padding-top: 56%;
			background-color: $c_blue;
			border-radius: 5px;

			@include media(sm) {
				padding-top: calc(71% * 1.65);
			}
		}
	}
}
