.home {
	&-news {
		padding-top: rem(65);
		padding-bottom: rem(90);
		position: relative;

		@include media(sm) {
			padding-bottom: rem(50);
		}

		.container {
			margin-bottom: rem(45);

			@include media(sm) {
				margin-bottom: rem(30);
			}

			> h4 {
				font-size: rem(18);
				font-weight: 400;
				letter-spacing: rem(1.5);
				line-height: rem(32);
				text-transform: uppercase;

				@include media(sm) {
					font-size: rem(14);
					letter-spacing: rem(1.17);
					line-height: rem(26);
				}
			}

			> h3 {
				font-size: rem(50);
				font-weight: 400;
				letter-spacing: rem(0.8);
				line-height: rem(50);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.36);
				}
			}
		}

		&__slider {
			//overflow: hidden;
		}

		.slick {
			&-track {
				//@include flex(row, center, flex-start);
			}

			&-slide {
				//flex-shrink: 0;
				outline: none;

				> div {
					padding: 0 rem(10);

					@include media(sm) {
						padding: 0 rem(7.5);
					}
				}
			}

			&-list {
				//@include flex;
			}

			&-dots {
				position: absolute;
				bottom: rem(-58);
				left: 50%;
				transform: translateX(-50%);
				@include flex;

				@include media(sm) {
					bottom: rem(-40);
				}

				li {
					&:not(:last-child) {
						margin-right: rem(9);
					}

					&.slick-active {
						button {
							background-color: rgba($c_blue, 1);
						}
					}

					button {
						color: transparent;
						height: 8px;
						width: 8px;
						border-radius: 50%;
						background-color: rgba(#d5dae0, .3);
						transition: background-color .3s linear;
					}
				}
			}
		}

		&__item {
			flex-shrink: 0;
			width: rem(460) !important;
			min-height: rem(316);
			border-radius: 6px;
			background-color: $c_bg;
			overflow: hidden;

			@include media(sm) {
				width: calc(100vw - #{rem(50)}) !important;
				min-height: rem(290);
			}

			&--img {
				height: rem(132);
				position: relative;

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&--main {
				padding: 0 rem(24);
				padding-top: rem(25);
				padding-bottom: rem(24);

				@include media(sm) {
					padding: rem(20);
				}

				time {
					padding: rem(6.5) rem(11);
					font-weight: 700;
					color: #ffffff;
					background-color: $c_blue;
					display: inline-block;
					border-radius: 2px;
					margin-bottom: rem(15);

					@include media(sm) {
						font-size: rem(12);
					}
				}

				h4 {
					font-size: rem(22);
					line-height: rem(26);
					margin-bottom: rem(12);

					@include media(sm) {
						font-size: rem(18);
						line-height: rem(22);
						margin-bottom: rem(15);
					}
				}

				h5 {
					color: #919aa3;
					font-weight: 500;
					line-height: rem(24);

					@include media(sm) {
						font-size: rem(14);
					}

					span {
						color: $c_blue;
					}
				}
			}
		}
	}
}
