.home {
	&-posts {
		padding-top: rem(107);
		padding-bottom: rem(170);
		position: relative;

		@include media(sm) {
			padding-top: rem(92.5);
			padding-bottom: rem(135);
		}

		.container {
			padding-bottom: rem(46);

			@include media(sm) {
				padding-bottom: rem(30);
			}

			h4 {
				font-size: rem(18);
				font-weight: 400;
				letter-spacing: rem(1.5);
				line-height: rem(32);
				text-transform: uppercase;

				@include media(sm) {
					font-size: rem(14);
					letter-spacing: rem(1.17);
					line-height: rem(25);
				}
			}

			h3 {
				font-size: rem(50);
				font-weight: 400;
				letter-spacing: rem(0.8);
				line-height: rem(50);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.36);
					line-height: rem(44);
				}
			}
		}

		&__slider {
			//overflow: hidden;
		}

		.slick {
			&-track {
				//@include flex;
			}

			&-slide {
				outline: none;

				> div {
					padding: 0 rem(10);
				}
			}

			&-list {
				//@include flex;
			}

			&-dots {
				position: absolute;
				bottom: rem(-48);
				left: 50%;
				transform: translateX(-50%);
				@include flex;

				@include media(sm) {
					bottom: rem(-40);
				}

				li {
					&:not(:last-child) {
						margin-right: rem(9);
					}

					&.slick-active {
						button {
							background-color: rgba($c_blue, 1);
						}
					}

					button {
						color: transparent;
						height: 8px;
						width: 8px;
						border-radius: 50%;
						background-color: rgba(#d5dae0, .3);
						transition: background-color .3s linear;
					}
				}
			}
		}

		&__item {
			width: rem(300) !important;
			border-radius: 6px;
			background-color: $c_bg;
			padding: rem(24);
			padding-top: rem(35);
			flex-shrink: 0;

			@include media(sm) {
				padding-top: rem(25);
				padding-bottom: rem(30);
			}

			time {
				color: #ffffff;
				font-weight: 700;
				border-radius: 3px;
				background-color: #30b3b8;
				padding: rem(6.5) rem(10);
				margin-bottom: rem(14);
				display: inline-block;

				@include media(sm) {
					margin-bottom: rem(18);
				}
			}

			h4 {
				color: #273f4d;
				font-size: rem(24);
				font-weight: 500;
				line-height: rem(24);
				margin-bottom: rem(10);

				@include media(sm) {
					font-size: rem(22);
				}
			}

			p {
				color: #919aa3;
				font-weight: 400;
				line-height: rem(24);
			}
		}
	}
}
