.section {
	&__wwa {
		background-color: #ffffff;
		padding-bottom: rem(47);

		.container {
			@include media('lg') {
				flex-direction: column;
			}
		}

		h4 {
			line-height: rem(28);

			@include media('lg') {
				font-size: rem(14);
				line-height: rem(32);
			}
		}

		h3 {
			margin-bottom: rem(13);
			font-size: rem(50);
			line-height: rem(50);

			@include media('lg') {
				font-size: rem(36);
				line-height: rem(42);
			}
		}

		h5 {
			font-size: rem(22);
			font-weight: 700;
			line-height: rem(30);
			margin-bottom: rem(45);

			@include media('lg') {
				font-size: rem(18);
				line-height: rem(42);
			}
		}

		p {
			padding-top: 0;
			padding-bottom: rem(15);
			font-size: rem(18);
			line-height: rem(30);
			font-weight: 500;

			@include media('lg') {
				font-size: rem(14);
				line-height: rem(24);
			}
		}

		&--left {
			width: 40%;

			@include media('lg') {
				margin-right: 0;
				margin-left: 0;
				margin-top: 0;
				margin-bottom: rem(30);
				width: 100%;
				align-items: flex-start;
			}
		}

		&--right {
			width: 57.3%;

			@include media('lg') {
				width: 100%;

				h4 {
					line-height: rem(30);
				}

				h3 {
					margin-bottom: rem(10);
				}

				h5 {
					font-size: rem(18);
					line-height: rem(26);
					margin-bottom: rem(24);
				}
			}
		}

		&--img {
			width: rem(308);
			height: rem(205);
			margin-bottom: rem(72);

			@include media('lg') {
				width: rem(290);
				height: rem(193);
				margin-bottom: rem(62);
			}

			&:before {
				width: rem(300);
				height: rem(251);

				@include media('lg') {
					width: rem(290);
					height: rem(234);
				}
			}

			img {
				left: rem(36);
			}
		}
	}
}