.section {
	&__leadership {
		background-color: #f9f9f9;
		padding-top: rem(25);
		padding-bottom: rem(118);

		@include media('lg') {
			padding-top: rem(90);
			padding-bottom: rem(43);
		}

		.container {
			flex-direction: column;
		}

		&--header {
			width: 100%;
			text-align: center;
			margin-bottom: rem(64);

			@include media('lg') {
				margin-bottom: rem(40);
			}

			h4 {
				text-transform: uppercase;
				font-size: rem(18);
				line-height: rem(32);
				font-family: $f_av;

				@include media('lg') {
					font-size: rem(14);
					line-height: rem(18);
				}
			}

			h3 {
				font-size: rem(50);
				line-height: rem(50);

				@include media('lg') {
					font-size: rem(36);
				}
			}
		}

		&--founder {
			display: flex;
			margin-bottom: rem(42);

			@include media('lg') {
				flex-direction: column;
				margin-bottom: rem(58);
			}

			.left {
				margin-right: rem(20);

				@include media('lg') {
					width: 100%;
					margin-right: 0;
					margin-bottom: rem(20);
				}

				&__image {
					position: relative;
					width: rem(300);
					height: rem(300);
					border-radius: rem(6);
					overflow: hidden;

					@include media('lg') {
						margin-right: auto;
						margin-left: auto;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						position: absolute;
					}
				}
			}

			.right {
				@include media('lg') {
					width: 100%;
				}

				&__content {
					h3 {
						font-family: $f_av;
						font-size: rem(36);
						font-weight: 700;
						line-height: rem(30);
						margin-bottom: rem(10);

						@include media('lg') {
							font-size: rem(22);
							margin-bottom: rem(0);
						}
					}

					h4 {
						font-family: $f_av;
						font-size: rem(18);
						line-height: rem(32);
						text-transform: uppercase;
						letter-spacing: rem(1.5);
						margin-bottom: rem(12);

						@include media('lg') {
							font-size: rem(15);
							letter-spacing: rem(1.25);
						}
					}

					p {
						font-size: rem(20);
						line-height: rem(28);
						margin-bottom: rem(19);

						@include media('lg') {
							font-size: rem(14);
							line-height: rem(24);
							margin-bottom: rem(16);
						}

						a {
							font-size: rem(12);
							font-weight: 700;
							line-height: rem(28);
							border-bottom: 1px dotted $c_blue-dark;
							text-transform: uppercase;
							margin-left: rem(10);

							@include media('lg') {
								font-size: rem(10);
								line-height: rem(28);
							}
						}
					}

					&--social {
						font-size: rem(18);
						font-weight: 600;
						position: relative;
						padding-left: rem(22);

						&:before {
							display: block;
							content: '';
							position: absolute;
							width: rem(18);
							height: rem(18);
							background: url("../img/linkedin.svg") center no-repeat;
							left: 0;
							top: 0;
						}
					}
				}
			}
		}

		&--members {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			@include media('lg') {
				flex-wrap: wrap;
			}

			.member {
				width: calc((100%/4) - 15px);

				@include media('lg') {
					width: calc((100%/2) - 10px);
					margin-bottom: rem(38);
				}

				&__image {
					width: 100%;
					height: rem(220);
					border-radius: rem(6);
					margin-bottom: rem(7);
					overflow: hidden;
					position: relative;

					@include media('lg') {
						width: rem(152);
						height: rem(152);
						margin-bottom: rem(0);
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					a {
						display: block;
						position: absolute;
						width: rem(18);
						height: rem(18);
						background: url("../img/linkedin.svg") center no-repeat;
						right: rem(11);
						bottom: rem(11);
					}
				}

				&__name {
					font-family: $f_av;
					font-weight: 700;
					font-size: rem(20);
					color: #007ace;
					line-height: rem(30);

					@include media('lg') {
						font-size: rem(16);
					}
				}

				&__position {
					font-size: rem(16);
					line-height: rem(24);

					@include media('lg') {
						font-size: rem(12);
						line-height: rem(16);
					}
				}
			}
		}
	}
}