.ref-faq {
	padding: rem(64) 0;
	border-bottom: 5px solid $c_blue;

	h2 {
		font-size: rem(18);
		font-weight: 700;
		text-align: center;
		padding: rem(8) 0;
	}

	.accordion {
		width: 100%;
		max-width: rem(650);
		margin: 0 auto;
		padding: 0 rem(15);
	}
}
