.ref-hero {
	background-color: $c_blue;
	padding: 0 rem(20);
	min-height: 290px;
	overflow: hidden;
	position: relative;
	text-align: center;
	color: #ffffff;
	font-weight: 700;

	&__art {
		position: absolute;
		top: 0;
		height: 100%;
		object-fit: contain;

		@include media(sm) {
			height: auto;
			width: 60%;
		}

		&.--left {
			left: 0;

			@include media(sm) {
				bottom: 0;
				top: inherit;
			}
		}

		&.--right {
			right: 0;
		}
	}

	h1 {
		font-size: rem(28);
		line-height: rem(33);
		margin: rem(30) 0;

		@include media(sm) {
			font-size: rem(24);
			margin-bottom: rem(15);
		}
	}

	h3 {
		font-size: rem(18);
		opacity: .8;
		line-height: rem(20);

		@include media(sm) {
			font-size: rem(14);
			opacity: 1;
		}
	}

	ul {
		width: 100%;
		max-width: 950px;
		margin: 0 auto;
		position: relative;
		@include flex(row, center, flex-start);

		@include media(sm) {
			flex-wrap: wrap;
		}

		li {
			width: 25%;
			padding: rem(30) rem(15);
			@include flex(column);

			@include media(sm) {
				flex-basis: 50%;
				min-width: 100px;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				padding: rem(30) rem(15);
			}

			img {
				width: rem(111);
				margin-bottom: rem(25);
			}

			span {
			}
		}
	}
}
