.ref-howit {
	background-color: #f2f2f9;
	padding: rem(40) 0;
	overflow: hidden;

	.slick-slide {
		margin: 0 rem(12.5);
	}
	/* the parent */
	.slick-list {
		margin: 0 rem(-12.5);
		padding: 0 25px !important;
	}

	.slick-arrow {
		position: absolute;
		bottom: rem(-70);
		transform: translateX(-50%);
	}

	.slick-prev {
		left: calc(50% - #{rem(30)});
	}

	.slick-next {
		left: calc(50% - #{rem(-30)});
	}

	.slick-disabled {
		opacity: .25;
	}

	.slick-dots {
		position: absolute;
		left: 50%;
		bottom: rem(-20);
		transform: translateX(-50%);
		@include flex;

		li {
			display: inline-block;
			margin: 0 5px;

			&.slick-active {
				button {
					width: 30px;

					&:before {
						width: 30px;
						background-color: #3067f0;
						border-radius: 10px;
						box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
						opacity: 1;
					}
				}
			}

			button {
				position: relative;
				font-size: 0;
				line-height: 0;
				display: block;
				width: 9px;
				height: 9px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: 9px;
					height: 9px;
					content: "";
					text-align: center;
					background-color: hsla(0, 0%, 61%, .43);
					border-radius: 50%;
					opacity: .25;
				}
			}
		}
	}

	h2 {
		font-size: rem(28);
		font-weight: 700;
		line-height: rem(33);
		color: #1c1b21;
		text-align: center;
	}

	&__slider {
		width: 85%;
		margin: rem(40) auto;
		margin-bottom: rem(65);
		opacity: 0;
		transition: opacity .3s linear;

		&.slick-initialized {
			opacity: 1;
		}

		@include media(lg) {
			width: 100%;
			margin-bottom: rem(100);
		}
	}

	&__card {
		width: calc(33% - #{rem(16.66)});
		padding: rem(40) rem(25);
		text-align: center;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, .12);
		border-radius: 4px;
		min-height: rem(300);
		position: relative;
		overflow: hidden;
		background-color: #ffffff;
		@include flex(column, flex-start);
		display: flex !important;

		h2 {
			position: absolute;
			bottom: rem(11);
			right: rem(18);
			font-size: rem(72);
			color: #929292;
			opacity: .2;
			font-weight: 700;
		}

		img {
			max-height: rem(50);
		}

		h3 {
			font-weight: 700;
			font-size: rem(20);
			color: #1c1b21;
			padding-top: rem(30);
			padding-bottom: rem(25);
		}

		p {
			color: #929292;
			line-height: 1.43rem;
			text-align: center;
			font-size: rem(14);
		}
	}

	a {
		box-shadow: rgba(0, 0, 0, 0.24) 0px -1px 0px 0px inset;
		width: 100%;
		margin: 0 auto;
		max-width: rem(650);
		height: 44px;
		color: rgb(255, 255, 255);
		border-radius: 4px;
		background: rgb(0, 200, 83);
		font-weight: 700;
		text-transform: uppercase;
		@include flex;

		@include media(sm) {
			max-width: rem(300);
		}
	}
}
