.formsec {
	background-color: #eceff1;
	padding: rem(20) 0;
	min-height: calc(100vh - 72px);

	@include media(sm) {
		padding: 0;
		min-height: calc(100vh - 50px);
	}

	form {
		width: 100%;
		max-width: 464px;
		flex-direction: column;
		margin: 0 auto;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px;
		padding: rem(24);
		background: rgb(255, 255, 255);

		hr {
			margin-top: rem(10);
			margin-bottom: rem(26);
			display: block;
			background-color: rgba(0, 0, 0, 0.12);
			height: 1px;
			border: none;
		}

		h1 {
			padding-bottom: rem(8);
			color: #222326;
			font-size: rem(22);
			font-weight: 500;
		}

		p {
			padding: rem(24) 0px;
			color: #333333;
		}

		> input[type="submit"] {
			width: 100%;
			padding: rem(12) rem(16);
			background-color: $c_blue;
			color: #ffffff;
			border-radius: 4px;
			font-weight: 700;
			font-size: rem(14);
			text-transform: uppercase;
		}

		> a {
			display: block;
			width: 100%;
			max-width: rem(150);
			margin: 0 auto;
			margin-top: rem(25);
			text-align: center;
			font-size: rem(14);
			color: $c_blue;
		}
	}
}
