@@include('./components/_header.html')

<section class="contact-main">
    <div class="container">
        <form class="contact-form" action="">
            <h4>Contact us</h4>
            <h3>Let’s invest <span>together</span></h3>
            <input type="text" name="name" id="" placeholder="Your Name *" required>
            <input type="email" name="email" placeholder="Your E-mail *">
            <textarea name="message" placeholder="Your Message *" required></textarea>
            <div class="contact-form__bt">
                <div class="g-recaptcha" data-sitekey="6Lczb50UAAAAAATp8IjTaKkZYoMmq36sFudpTmCY"></div>
                <input class="btn btn-solid--blue" type="submit" value="Invest With Us">
            </div>
        </form>
    </div>
</section>

<section id="map" class="contact-map"></section>

@@include('./components/_tellus.html')
@@include('./components/_footer.html')