@@include('./components/_header.html')

<section class="etf-hero">
    <div class="container">
        <div class="etf-hero--text">
            <h4>EnterpreneurShares</h4>
            <h3>Active ETFs</h3>
            <p>
                Invest in the highest <br>
                growth potential companies 
                of our generation.
            </p>
            <a href="#" class="btn btn-solid">
                Contact us
            </a>
        </div>
        <div class="etf-hero--stocks">
            <h4>Actively Managed Innovation <span>ETFs</span></h4>
            <ul>
                <li>
                    <span>ERSI</span>
                    ERS Innovation ETF
                </li>
                <li>
                    <span>ERSQ</span>
                    Industrial Innovation ETF
                </li>
                <li>
                    <span>ERSW</span>
                    Web x.0 ETF
                </li>
                <li>
                    <span>ERSG</span>
                    Genomic Revolution ETF
                </li>
                <li>
                    <span>ERSF</span>
                    Fintech Innovation ETF
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="etf-q">
    <div class="container">
        <div class="etf-q--img">
            <img class="lazy" data-src="./assets/dist/img/etf/q.png" alt="">
        </div>
        <div class="etf-q--text">
            <h3>EntrepreneurShares invests across sectors, geographies, and market caps, seeking to identify companies missed by traditional sector-based</h3>
            <p>
                “Our EntrepreneurShares strategy is considered very distinct among other equity managers. After many years of academic research at one of the leading business schools in Entrepreneurial studies, we have developed a proprietary 15 factor model that assesses corporate behavior."
            </p>
            <div class="quote-r --blue">
                <div class="quote-r__photo">
                    <img src="./assets/dist/img/Oval.png" alt="">
                </div>
                <div class="quote-r__info">
                    <span>
                        <b>Joel M. Shulman Ph.D., CFA</b>
                    </span>
                    <span>Founder & Managing Director</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="etf-active">
    <div class="container">
        <div class="etf-active--text">
            <h3>
                <span style="color: #007ace">Our Active ETFs</span>
                <span>are designed to capture:</span>
            </h3>
            <ul>
                <li>Long-term appreciation and alpha uncorrelated to traditional indices or managers.</li>
                <li>Exposure to aggressive growth through a fund rather than individual stocks.</li>
                <li>Complement to traditional broad index based value or growth strategies.</li>
            </ul>
        </div>
        <div class="etf-active--img">
            <img class="lazy" data-src="./assets/dist/img/home-wwa.png" alt="">
            <p>
                EnterpreneurShare believes truly active management can capture long-term investment opportunities resulting from innovation that cuts across sectors.
            </p>
        </div>
    </div>
    <div class="etf-active--bt">
        <a href="#" class="btn btn-br--blue _up">Invest With Us</a>
    </div>
</section>

<section class="etf-resources">
    <div class="container">
        <h4>Where to start from</h4>
        <h3>
            <span style="color: #007ace;">Investor</span>
            <span>Resources</span>
        </h3>
        <div class="etf-resources__grid">
            <div class="etf-resources__item">
                <h3>01</h3>
                <div class="etf-resources__item-content">
                    <div class="etf-resources__item-middle">
                        <img src="./assets/dist/img/etf/1.svg" alt="">
                        <h4>
                            <span>Download</span>
                            <span style="color: #007ace;">Fund Materials</span>
                        </h4>
                    </div>
                    <p>
                        Download Prospectus, Factsheets, Reports, and other ETF information.
                    </p>
                    <a href="" class="btn btn-solid--blue">Download</a>
                </div>
            </div>
            <div class="etf-resources__item">
                <h3>02</h3>
                <div class="etf-resources__item-content">
                    <div class="etf-resources__item-middle">
                        <img src="./assets/dist/img/etf/2.svg" alt="">
                        <h4>
                            <span>Register for</span>
                            <span style="color: #007ace;">ETF Webinars</span>
                        </h4>
                    </div>
                    <p>
                        Join EnterpreneurShare’s Quarterly Report webinars and innovation ETF presentations.
                    </p>
                    <a href="" class="btn btn-solid--blue">Register</a>
                </div>
            </div>
            <div class="etf-resources__item">
                <h3>03</h3>
                <div class="etf-resources__item-content">
                    <div class="etf-resources__item-middle">
                        <img src="./assets/dist/img/etf/3.svg" alt="">
                        <h4>
                            <span>Sign up for</span>
                            <span style="color: #007ace;">Trade Notifications</span>
                        </h4>
                    </div>
                    <p>
                        Receive trade notifications for all of EnterpreneurShare’s actively managed ETFs.
                    </p>
                    <a href="" class="btn btn-solid--blue">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="etf-graph">
    <div class="container">
        <h3>EnterpreneurShares’s active ETFs seek to capitalize on the technology adoption curves of innovation</h3>
        <div class="etf-graph__grid">
            <div class="etf-graph--img">
                <img src="./assets/dist/img/etf/graph-1.png" alt="">
            </div>
            <div class="etf-graph--graph">
                <img src="./assets/dist/img/etf/graph-2.png" alt="">
            </div>
        </div>
    </div>
</section>

@@include('./components/_tellus.html')
@@include('./components/_footer.html')