﻿@@include('./components/_header.html')

<section class="home-stocks slick">
    <div class="home-stocks__item">
        <h4>SPY</h4>
        <span>262.96</span>
        <label class="_up">+1.98 (0.76%)</label>
    </div>
    <div class="home-stocks__item">
        <h4>VOO</h4>
        <span>241.67</span>
        <label class="_up">+1.798 (0.75%)</label>
    </div>
    <div class="home-stocks__item">
        <h4>QQQ</h4>
        <span>163.63</span>
        <label class="_up">+1.28 (0.79%)</label>
    </div>
    <div class="home-stocks__item">
        <h4>GLD</h4>
        <span>122.11</span>
        <label class="_down">-0.16 (0.13%)</label>
    </div>
    <div class="home-stocks__item">
        <h4>SPY</h4>
        <span>262.96</span>
        <label class="_up">+1.98 (0.76%)</label>
    </div>
    <div class="home-stocks__item">
        <h4>EEM</h4>
        <span>41.35</span>
        <label class="_up">+0.18 (0.44%)</label>
    </div>
    <div class="home-stocks__item">
        <h4>USO</h4>
        <span>11.03</span>
        <label class="_down">-0.03 (0.27%)</label>
    </div>
</section>

<section class="home-hero">
    <div class="container">
        <div class="home-hero--des-1"></div>
        <div class="home-hero--des-2"></div>
        <div class="home-hero--left">
            <h4>We Invest In</h4>
            <h3>Visionary Leadership</h3>
            <p>We offer a new investment style. Our proprietary 15-factor model identifies the most entrepreneurial companies with visionary leaders that hold economic and non-economic incentive to create value.</p>
            <div class="home-hero--buttons">
                <a class="btn btn-solid _start" href="#">Get started</a>
                <a class="btn btn-br _video" href="#">Watch our video</a>
            </div>
        </div>
        <div class="home-hero--right slick">
            <blockquote>
                <h4>Entrepreneur Factor</h4>
                <p>Our EntrepreneurShares strategy is considered very distinct among other equity managers. After many years of academic research at one of the leading business schools in Entrepreneurial studies, we have developed a proprietary 15 factor model that assesses corporate behavior.</p>
                <div class="quote-r">
                    <div class="quote-r__photo">
                        <img src="./assets/dist/img/Oval.png" alt="">
                    </div>
                    <div class="quote-r__info">
                        <span>
                            <b>Joel M. Shulman Ph.D., CFA</b>
                        </span>
                        <span>Founder & Managing Director</span>
                    </div>
                </div>
            </blockquote>
            <blockquote>
                <h4>Entrepreneur Factor</h4>
                <p>Our EntrepreneurShares strategy is considered very distinct among other equity managers. After many years of academic research at one of the leading business schools in Entrepreneurial studies, we have developed a proprietary 15 factor model that assesses corporate behavior.</p>
                <div class="quote-r">
                    <div class="quote-r__photo">
                        <img src="./assets/dist/img/Oval.png" alt="">
                    </div>
                    <div class="quote-r__info">
                        <span>
                            <b>Joel M. Shulman Ph.D., CFA</b>
                        </span>
                        <span>Founder & Managing Director</span>
                    </div>
                </div>
            </blockquote>
            <blockquote>
                <h4>Entrepreneur Factor</h4>
                <p>Our EntrepreneurShares strategy is considered very distinct among other equity managers. After many years of academic research at one of the leading business schools in Entrepreneurial studies, we have developed a proprietary 15 factor model that assesses corporate behavior.</p>
                <div class="quote-r">
                    <div class="quote-r__photo">
                        <img src="./assets/dist/img/Oval.png" alt="">
                    </div>
                    <div class="quote-r__info">
                        <span>
                            <b>Joel M. Shulman Ph.D., CFA</b>
                        </span>
                        <span>Founder & Managing Director</span>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
</section>

<section class="home-about">
    <h4>A few points about</h4>
    <h2><span style="color: #263d4b;">Entrepreneur</span><span style="color: #007ace;">Shares</span></h2>
    <div class="container">
        <h3>Boutique investment</h3>
        <h4>Boston based</h4>
        <div class="home-about--left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis vehicula mi. Etiam sapien ligula, fermentum sed efficitur consequat, pulvinar id eros.</p>
            <p>Duis mattis consectetur est. Vestibulum a malesuada elit, et porttitor mi. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis vehicula mi.</p>
        </div>
        <div class="home-about--right">
            <ul>
                <li>
                    <h4>ESG & Impact Orientated Investing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis vehicula mi. Etiam sapien ligula, fermentum sed efficitur consequat, pulvinar id eros. Duis mattis consectetur est. Vestibulum a malesuada elit, et porttitor mi. </p>
                </li>
                <li>
                    <h4>Proprietary Investment model</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis vehicula mi. Etiam sapien ligula, fermentum sed efficitur consequat, pulvinar id eros. Duis mattis consectetur est. Vestibulum a malesuada elit, et porttitor mi. </p>
                </li>
                <li>
                    <h4>New Investment Style</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis vehicula mi. Etiam sapien ligula, fermentum sed efficitur consequat, pulvinar id eros. Duis mattis consectetur est. Vestibulum a malesuada elit, et porttitor mi. </p>
                </li>
            </ul>
        </div>
    </div>
    <blockquote>
        <p>
            Over the past 9+ years, utilizing more than 20+ market factors — Market, Size, <br> Growth, Sector, Momentum, etc. — evidence shows that our Entrepreneur <br> Factor is, by far, the dominant explanatory Factor <br>
        in explaining excess return.
        </p>
        <div class="quote-r --blue">
            <div class="quote-r__photo">
                <img src="./assets/dist/img/Oval.png" alt="">
            </div>
            <div class="quote-r__info">
                <span>
                    <b>Joel M. Shulman Ph.D., CFA</b>
                </span>
                <span>Founder & Managing Director</span>
            </div>
        </div>
    </blockquote>
</section>



<section class="home-wwa">
    <div class="container">
        <div class="home-wwa--left">
            <div class="home-wwa__img">
                <img class="lazy" data-src="./assets/dist/img/home-wwa.png" alt="">
            </div>
            <div>
                <h5>The investment model utilizes</h5>
                <h5 style="color: #007ace">extensive academic research </h5>
                <h5>created by Professor Joel Shulman.</h5>
            </div>
        </div>
        <div class="home-wwa--right">
            <h4>Who we are</h4>
            <h3>
                <span>We offer</span>
                <span style="color: #007ace">a proprietary</span>
                <span>investment model</span>
            </h3>
            <p>
                Our proprietary 15-factor model identifies the most entrepreneurial companies with visionary leaders that hold economic and non-economic incentive to create value. Our strategy works across a broad array of Morningstar categories including varying market capitalization levels and geographic areas.
            </p>
            <a class="btn btn-solid--blue _up smsm" href="#">Invest today</a>
            <a class="btn btn-link _up smsm" href="#">Learn more</a>
        </div>
    </div>
</section>

<section class="home-posts">
    <div class="container">
        <h4>For over a decade</h4>
        <h3> 
            <span style="color: #007ace">Investing</span>
            <span>Professionally</span>
        </h3>
    </div>
    <div class="home-posts__slider slick">
        <div class="home-posts__item">
            <time>2016</time>
            <h4>Global Muual Fund Introduced (ENTIX)</h4>
            <p>
                This strategy invests in Publicily-Trades Global Entrepreneurial companies.
            </p>
        </div>
        <div class="home-posts__item">
            <time>2014</time>
            <h4>U.S. Small cap mutual fund created (IMPAX)</h4>
            <p>
                This strategy invests in Publicily-Trades Global Entrepreneurial companies.
            </p>
        </div>
        <div class="home-posts__item">
            <time>2010</time>
            <h4>Global Muual Fund Introduced (ENTIX)</h4>
            <p>
                This strategy invests in Publicily-Trades Global Entrepreneurial companies.
            </p>
        </div>
        <div class="home-posts__item">
            <time>2016</time>
            <h4>Global Muual Fund Introduced (ENTIX)</h4>
            <p>
                This strategy invests in Publicily-Trades Global Entrepreneurial companies.
            </p>
        </div>
        <div class="home-posts__item">
            <time>2010</time>
            <h4>U.S. Small cap mutual fund created (IMPAX)</h4>
            <p>
                This strategy invests in Publicily-Trades Global Entrepreneurial companies.
            </p>
        </div>
        <div class="home-posts__item">
            <time>2014</time>
            <h4>Global Muual Fund Introduced (ENTIX)</h4>
            <p>
                This strategy invests in Publicily-Trades Global Entrepreneurial companies.
            </p>
        </div>
    </div>
</section>

<section class="home-theory">
    <div class="container">
        <h4>Our Theory</h4>
        <h3> 
            <span style="color: #007ace">Why</span>
            <span>Entrepreneurs?</span>
        </h3>
        <div class="home-theory__text">
            <img class="home-theory__text--img lazy" data-src="./assets/dist/img/theory-text.svg" alt="">
            <div class="home-theory__text--text">
                <p>
                    We offer a new investment style. <br>
                    Our proprietary 15-factor model identifies the most entrepreneurial companies with visionary leaders that hold economic and non-economic incentive to create value.
                </p>
                <p>
                    Our strategy works across a broad array <br>
                    of Morningstar categories including varying market capitalization levels and geographic areas.
                </p>
                <p>
                    We are proud to note, that extensive quantitative analysis suggests that we have identified a new Market (Entrepreneur) Factor. 
                </p>
                <p>
                    Over the past 9+ years, utilizing more than 20+ market factors (Market, Size, Growth, Sector, Momentum, etc.) evidence shows that our Entrepreneur Factor is, by far, the dominant explanatory Factor in explaining excess return.
                </p>
            </div>
        </div>
        <div class="home-theory__compare">
            <h4>Bureaucrat Cos vs. Entrepreneur Cos</h4>
            <img class="home-theory__compare--img" src="./assets/dist/img/theory.png">
            <div class="home-theory__compare--list">
                <h4>Our advantages:</h4>
                <ul>
                    <li>Our Entrepreneur conferences and workshops</li>
                    <li>Thought leader in many areas (e.g. investment style and ESG/Impact)</li>
                    <li>EntrepreneurShares proprietary research</li>
                    <li>Innovative methodology and investment practice</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="home-news">
    <div class="container">
        <h4>What happened?</h4>
        <h3> 
            <span>Latest</span>
            <span style="color: #007ace">News</span>
        </h3>
    </div>
    <div class="home-news__slider slick">
        <div class="home-news__item">
            <div class="home-news__item--img">
                <img class="lazy" src="./assets/dist/img/news/1.png" alt="">
            </div>
            <div class="home-news__item--main">
                <time>
                    20 Nov, 2018
                </time>
                <h4>Ohio Becomes The First State To Allow Taxpayers To Pay Tax Bills Using Cryptocurrency</h4>
                <h5>By <span>Kelly Phillips ErbSenior</span></h5>
            </div>
        </div>
        <div class="home-news__item">
            <div class="home-news__item--img">
                <img class="lazy" src="./assets/dist/img/news/2.png" alt="">
            </div>
            <div class="home-news__item--main">
                <time>
                    20 Nov, 2018
                </time>
                <h4>China Stimulus May Not Be Enough To Boost Economy</h4>
                <h5>By <span>Kelly Phillips ErbSenior</span></h5>
            </div>
        </div>
        <div class="home-news__item">
            <div class="home-news__item--img">
                <img class="lazy" src="./assets/dist/img/news/3.png" alt="">
            </div>
            <div class="home-news__item--main">
                <time>
                    20 Nov, 2018
                </time>
                <h4>David Boies’ Law Firm Sues Chinese Exile Guo Wengui Over Unpaid Legal Bills</h4>
                <h5>By <span>Kelly Phillips ErbSenior</span></h5>
            </div>
        </div>
        <div class="home-news__item">
            <div class="home-news__item--img">
                <img class="lazy" src="./assets/dist/img/news/4.png" alt="">
            </div>
            <div class="home-news__item--main">
                <time>
                    20 Nov, 2018
                </time>
                <h4>David Boies’ Law Firm Sues Chinese Exile Guo Wengui Over Unpaid Legal Bills</h4>
                <h5>By <span>Kelly Phillips ErbSenior</span></h5>
            </div>
        </div>
    </div>
</section>

<section class="home-media">
    <div class="container">
        <div class="home-media__text">
            <h4>media</h4>
            <h3> 
                <span>Hear From</span>
                <span style="color: #007ace">Dr. Joel Shulman</span>
            </h3>
            <p>
                Dr. Joel Shulman discusses Entrepreneur Shares and the benefits 
                of the 15 factor investment model that was created based on his research. Hear from Dr. Shulman first hand about the proprietary investment model offered by Entrepreneur Shares.
            </p>
        </div>
        <div class="home-media__video"></div>
    </div>
</section>

@@include('./components/_tellus.html')
@@include('./components/_footer.html')