@@include('./components/_header.html')

<section class="section__hero process-hero">
    <h1><span>The EntrepreneurShares</span>Difference</h1>
    <p>We are entrepreneurs and investors ourselves and we know how important it is to be well educated in finding the most cost effective solutions.</p>
    <a href="/who-we-are.html" class="btn btn-solid">Who We Are</a>
</section>

<section class="process-howto">
    <div class="container">
        <div class="process-howto--text">
            <h4>Our Key Difference</h4>
            <h3>
                <span>How Do We</span>
                <span style="color: #007ace">Invest</span> 
            </h3>
            <p>
                We incorporate a proprietary investment model which applies a global, bottom-up filtering process. Our 15 "entrepreneur" factors utilize both qualitative and quantitative criteria. We apply our criteria to identify publicly traded entrepreneurial companies. History has shown that our model is effective across different market caps and geographical locations. We focus on management and leadership.
            </p>
        </div>
        <div class="process-howto--img">
            <img class="lazy" data-src="./assets/dist/img/process/howto.png" alt="">
        </div>
    </div>
</section>

<section class="process-fund">
    <div class="process-fund__item">
        <figure>
            <img src="./assets/dist/img/process/fund/1.svg" alt="">
        </figure>
        <div class="process-fund__item--text">
            <div class="process-fund__item--text__top">
                <h3>Small Cap</h3>
                <h5>Fund</h5>
            </div>
            <strong>
                The investment objective of the Entrepreneur US Small Cap Fund is to provide positive alpha and upside capture for its clients. 
            </strong>
            <p>
                The fund is benchmarked against the Russell 2000 Index. The selection process utilizes quantitative filters for initial screenings and then applies qualitative, fundamental analysis for final active selections.
            </p>
        </div>
    </div>
    <div class="process-fund__item">
        <figure>
            <img src="./assets/dist/img/process/fund/2.svg" alt="">
        </figure>
        <div class="process-fund__item--text">
            <div class="process-fund__item--text__top">
                <h3>Large Cap</h3>
                <h5>Fund</h5>
            </div>
            <strong>
                The investment objective of the Entrepreneur US Large Cap Fund is to provide positive alpha and upside capture for its clients. 
            </strong>
            <p>
                The fund is benchmarked against the S&P 500 Index. The selection process utilizes quantitative filters for initial screenings and then applies qualitative, fundamental analysis for final active selections.
            </p>
        </div>
    </div>
    <div class="process-fund__item">
        <figure>
            <img src="./assets/dist/img/process/fund/3.svg" alt="">
        </figure>
        <div class="process-fund__item--text">
            <div class="process-fund__item--text__top">
                <h3>Global</h3>
                <h5>Fund</h5>
            </div>
            <strong>
                The investment objective of the Entrepreneur Shares Global Fund is to provide positive alpha and upside capture for its clients. 
            </strong>
            <p>
                The fund is benchmarked against the MSCI World Index. The selection process utilizes quantitative filters for initial screenings and then applies qualitative, fundamental analysis for final active selections.
            </p>
        </div>
    </div>
    <div class="process-fund__bt">
        <a class="btn btn-solid--blue" href="#">
            Invest With Us
        </a>
    </div>
</section>

<section class="process-factor">
   <div class="container">
        <h4>THE</h4>
        <h3> 
            <span style="color: #007ace">Entrepreneur</span>
            <span>Factor</span>
        </h3>
        <p>
            “Our EntrepreneurShares strategy is considered very distinct among other equity managers. After many years of academic research at one of the leading business schools in Entrepreneurial studies, we have developed a proprietary 15 factor model that assesses corporate behavior.”
        </p>
        <div class="quote-r --blue">
            <div class="quote-r__photo">
                <img src="./assets/dist/img/Oval.png" alt="">
            </div>
            <div class="quote-r__info">
                <span>
                    <b>Joel M. Shulman Ph.D., CFA</b>
                </span>
                <span>Founder & Managing Director</span>
            </div>
        </div>
   </div>
</section>

<section class="process-contact">
    <div class="container">
            <h4>We Are</h4>
            <h3>Entrepreneurs at heart</h3>
            <p>We are entrepreneurs and investors ourselves and we know how important it is to be well educated in finding the most cost effective solutions.</p>
            <div class="process-contact__btns">
                <a class="btn btn-br" href="#">Who we are</a>
                <a class="btn btn-br" href="#">See our performance</a>
                <a class="btn btn-solid" href="#">Invest with us</a>
            </div>
        
            <form class="contact-form" action="">
                <h4>Contact us</h4>
                <h3>Let’s invest together</h3>
                <input type="text" name="name" id="" placeholder="Your Name *" required>
                <input type="email" name="email" placeholder="Your E-mail *">
                <textarea name="message" placeholder="Your Message *" required></textarea>
                <div class="contact-form__bt">
                    <div class="g-recaptcha" data-sitekey="6Lczb50UAAAAAATp8IjTaKkZYoMmq36sFudpTmCY"></div>
                    <input class="btn btn-br--blue" type="submit" value="Invest With Us">
                </div>
            </form>
    </div>
</section>

@@include('./components/_tellus.html')
@@include('./components/_footer.html')