@@include('./components/_header.html')

<section class="who-we-are__hero section__hero">
	<h1><span>About Us</span>Who We Are</h1>
	<p>EntrepreneurShares has developed a proprietary investment model that incorporates both quantitative and qualitative criteria. The investment model utilizes extensive academic research created by Professor Joel Shulman.</p>
</section>

<section class="home-wwa section__wwa">
	<div class="container">
		<div class="home-wwa--left section__wwa--left">
			<div class="home-wwa__img section__wwa--img">
				<img class="lazy" data-src="./assets/dist/img/who-we-are-wwa.png" alt="">
			</div>
			<p>We offer a new investment style. Our proprietary 15-factor model identifies the most entrepreneurial companies with visionary leaders that hold economic and non-economic incentive to create value.</p>
			<p>Our strategy works across a broad array of Morningstar categories including varying market capitalization levels and geographic areas.</p>
		</div>
		<div class="home-wwa--right section__wwa--right">
			<h4>We are</h4>
			<h3>
				<span style="color: #007ace">Enterpreneurs</span>
				<span>at heart</span>
			</h3>
			<h5>Visionary leaders tend to have both economic
				and non-economic incentives to create value within their organizations.</h5>
			<p>We are proud to note, that extensive quantitative analysis suggests that we have identified a new Market (Entrepreneur) Factor.</p>
			<p>Over the past 9+ years, utilizing more than 20+ market factors (Market, Size, Growth, Sector, Momentum, etc.) evidence shows that our Entrepreneur Factor is, by far, the dominant explanatory Factor in explaining excess return.</p>
		</div>
	</div>
</section>

<section class="home-wwa section__leadership">
	<div class="container">
		<div class="section__leadership--header">
			<h4>The team</h4>
			<h3>
				<span>Our</span>
				<span style="color: #007ace">Leadership</span>
			</h3>
		</div>
		<div class="section__leadership--founder">
			<div class="left">
				<div class="left__image">
					<img class="lazy" data-src="./assets/dist/img/founder.png" alt="">
				</div>
			</div>
			<div class="right">
				<div class="right__content">
					<h3>Joel M. Shulman Ph.D., CFA</h3>
					<h4>FOUNDER & MANAGING DIRECTOR</h4>
					<p>Dr. Joel Shulman is the founder and managing director of EntrepreneurShares. His 30+ years of academic research led to the formation of our proprietary 15-factor investment model. Dr. Shulman is a leading academic in the field of Entrepreneurship at Babson College (ranked #1 for Entrepreneurship 18 consecutive years by U.S. News & World Report.)...<a href="#" style="color: #007ace">Read more</a></p>
					<a class="right__content--social" href="#">Linkendin</a>
				</div>
			</div>
		</div>
		<div class="section__leadership--members">
			<div class="member">
				<div class="member__image">
					<img class="lazy" data-src="./assets/dist/img/member-1.png" alt="">
					<a href="#"></a>
				</div>
				<h3 class="member__name">Alissa Shulman</h3>
				<p class="member__position">Chief Financial Officer & Chief Compliance Officer</p>
			</div>
			<div class="member">
				<div class="member__image">
					<img class="lazy" data-src="./assets/dist/img/member-2.png" alt="">
					<a href="#"></a>
				</div>
				<h3 class="member__name">Joseph Sherman</h3>
				<p class="member__position">Assistant Portfolio Manager</p>
			</div>
			<div class="member">
				<div class="member__image">
					<img class="lazy" data-src="./assets/dist/img/member-3.png" alt="">
					<a href="#"></a>
				</div>
				<h3 class="member__name">F. Alfredo Pellas IV</h3>
				<p class="member__position">Senior Vice President & Client Relationship Management</p>
			</div>
			<div class="member">
				<div class="member__image">
					<img class="lazy" data-src="./assets/dist/img/member-4.png" alt="">
					<a href="#"></a>
				</div>
				<h3 class="member__name">David Zamarin</h3>
				<p class="member__position">Marketing & IT Strategist</p>
			</div>
		</div>
	</div>
</section>

<section class="home-news section__news">
	<div class="container">
		<h4>What happened?</h4>
		<h3>
			<span>Latest</span>
			<span style="color: #007ace">News</span>
		</h3>
	</div>
	<div class="home-news__slider slick">
		<div class="home-news__item">
			<div class="home-news__item--img">
				<img class="lazy" data-class="lazy" src="./assets/dist/img/news/1.png" alt="">
			</div>
			<div class="home-news__item--main">
				<time>
					20 Nov, 2018
				</time>
				<h4>Ohio Becomes The First State To Allow Taxpayers To Pay Tax Bills Using Cryptocurrency</h4>
				<h5>By <span>Kelly Phillips ErbSenior</span></h5>
			</div>
		</div>
		<div class="home-news__item">
			<div class="home-news__item--img">
				<img class="lazy" data-class="lazy" src="./assets/dist/img/news/2.png" alt="">
			</div>
			<div class="home-news__item--main">
				<time>
					20 Nov, 2018
				</time>
				<h4>China Stimulus May Not Be Enough To Boost Economy</h4>
				<h5>By <span>Kelly Phillips ErbSenior</span></h5>
			</div>
		</div>
		<div class="home-news__item">
			<div class="home-news__item--img">
				<img class="lazy" data-class="lazy" src="./assets/dist/img/news/3.png" alt="">
			</div>
			<div class="home-news__item--main">
				<time>
					20 Nov, 2018
				</time>
				<h4>David Boies’ Law Firm Sues Chinese Exile Guo Wengui Over Unpaid Legal Bills</h4>
				<h5>By <span>Kelly Phillips ErbSenior</span></h5>
			</div>
		</div>
		<div class="home-news__item">
			<div class="home-news__item--img">
				<img class="lazy" data-class="lazy" src="./assets/dist/img/news/4.png" alt="">
			</div>
			<div class="home-news__item--main">
				<time>
					20 Nov, 2018
				</time>
				<h4>David Boies’ Law Firm Sues Chinese Exile Guo Wengui Over Unpaid Legal Bills</h4>
				<h5>By <span>Kelly Phillips ErbSenior</span></h5>
			</div>
		</div>
	</div>
</section>

@@include('./components/_tellus.html')
@@include('./components/_footer.html')