.contact {
	&-main {
		padding-top: rem(45);
		background-color: $c_blue;
		height: rem(542);
		position: relative;
		z-index: 1;
		@include flex;

		@include media(sm) {
			height: auto;
			padding-bottom: rem(10);
		}

		.contact-form {
			margin-bottom: rem(-37);

			h3 {
				color: $c_blue;

				span {
					color: $c_text;
				}
			}
		}
	}
}
