.contact {
	&-form {
		background-color: #ffffff;
		flex-wrap: wrap;
		padding: rem(29) rem(45);
		padding-bottom: rem(37);
		border-radius: 6px;
		max-width: rem(708);
		width: 100%;
		margin: 0 auto;
		box-shadow: 0 4px 15px rgba(7, 42, 68, 0.1);
		@include flex(row, space-between);

		@include media(sm) {
			padding: rem(29) rem(30);
		}

		h3,
		h4 {
			width: 100%;
		}

		h4 {
			font-size: rem(18);
			letter-spacing: rem(1.5);
			line-height: rem(35);
			text-transform: uppercase;

			@include media(sm) {
				font-size: rem(14);
				letter-spacing: rem(1.17);
				line-height: rem(32);
			}
		}

		h3 {
			font-size: rem(50);
			letter-spacing: rem(0.5);
			line-height: rem(50);
			margin-bottom: rem(42);

			@include media(sm) {
				font-size: rem(28);
				letter-spacing: rem(0.28);
				line-height: rem(25);
				margin-bottom: rem(32);
			}
		}

		input:not([type="submit"]),
		textarea {
			border-radius: 3px;
			border: 2px solid #e4e4e4;
			margin-bottom: rem(20);
			padding: rem(20);
			font-size: 14px;

			@include placeholder {
				color: $c_text;
				text-transform: uppercase;
			}

			@include media(sm) {
				padding: rem(16);
				margin-bottom: rem(19);
			}
		}

		input {
			&:not([type="submit"]) {
				width: calc(50% - #{rem(10)});
				height: 60px;

				@include media(sm) {
					width: 100%;
					height: 50px;
				}
			}
		}

		textarea {
			width: 100%;
			resize: none;
			min-height: rem(167);

			@include media(sm) {
				min-height: rem(150);
			}
		}

		&__bt {
			width: 100%;
			@include flex(row, space-between, flex-end);

			@include media(sm) {
				flex-direction: column;
				align-items: center;
			}

			.g-recaptcha {
				width: 304px;
				height: 78px;

				@include media(sm) {
					width: auto;
					margin-bottom: rem(12);
					transform: scale(0.87);
				}

				@include media(xs) {
					transform: scale(0.77);
				}
			}

			input {
				@include media(sm) {
					width: 100%;
				}
			}
		}
	}
}
