.gm-style-iw.gm-style-iw-c {
	padding: 11px 13px 13px 13px !important;
	width: 192px !important;
	height: 187px !important;
	box-shadow: 0 4px 15px rgba(7, 42, 68, 0.1);
	top: 5px;
	left: 40px;
	transform: translate(0);
	overflow: visible !important;

	&:before {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 16px 16px 0;
		border-color: transparent #ffffff transparent transparent;
		position: absolute;
		top: 16px;
		left: -16px;
	}
}

.gm-style .gm-style-iw-t::after {
	display: none;
	content: none;
}
