.process {
	&-fund {
		padding-top: rem(55);
		padding-bottom: rem(133);

		@include media(sm) {
			padding-top: rem(45);
			padding-bottom: rem(80);
		}

		&__item {
			margin-bottom: rem(111);
			@include flex(row, flex-start, flex-start);

			@include media(sm) {
				margin-bottom: rem(95);
			}

			&:nth-child(odd) {
				figure {
					margin-right: rem(100);
					padding-right: rem(38);
					@include flex(row, flex-end);

					@include media(sm) {
						margin: 0;
						margin-right: rem(37);
						padding: 0;
					}

					&:before {
						left: 100%;
						border-width: 120px 0 120px 50px;
						border-color: transparent transparent transparent $c_bg;

						@include media(sm) {
							border-width: 48px 0 48px 20px;
						}
					}
				}
			}

			&:nth-child(even) {
				flex-direction: row-reverse;

				@include media(md) {
					padding-left: rem(25);
				}

				@include media(sm) {
					flex-direction: inherit;
				}

				figure {
					margin-left: rem(100);
					padding-left: rem(38);
					@include flex(row, flex-start);

					@include media(sm) {
						padding: 0;
						margin: 0;
						margin-right: rem(37);
					}

					&:before {
						right: 100%;
						border-width: 120px 50px 120px 0;
						border-color: transparent $c_bg transparent transparent;

						@include media(sm) {
							border-width: 48px 0 48px 20px;
							border-color: transparent transparent transparent $c_bg;
							right: inherit;
							left: 100%;
						}
					}
				}
			}

			figure {
				height: rem(240);
				width: calc(45% - #{rem(100)});
				background-color: $c_bg;
				position: relative;

				@include media(sm) {
					width: 40%;
					height: rem(96);

					@include media(sm) {
						width: 50%;
					}
				}

				&:before {
					content: "";
					display: inline-block;
					position: absolute;
					top: 0;
					width: 0;
					height: 0;
					border-style: solid;
				}

				img {
					max-width: rem(169);
					max-height: rem(161);

					@include media(sm) {
						max-width: rem(73);
						max-height: rem(72);
					}
				}
			}

			&--text {
				max-width: rem(460);
				font-size: rem(20);
				line-height: rem(28);

				@include media (sm) {
					font-size: rem(18);
					line-height: rem(26);
				}

				&__top {
					margin-bottom: rem(15);
					@include flex(row, flex-start, flex-end);

					@include media(sm) {
						flex-direction: column;
						align-items: flex-start;
						padding-top: rem(9);
						margin-bottom: rem(10);
					}

					h3 {
						color: $c_blue;
						font-size: rem(50);
						font-weight: 400;
						letter-spacing: rem(0.5);
						line-height: rem(50);
						margin-right: rem(10);

						@include media(sm) {
							font-size: rem(36);
							letter-spacing: rem(0.36);
						}
					}

					h5 {
						font-size: rem(32);
						font-weight: 400;
						line-height: rem(32);
						text-transform: uppercase;

						@include media(sm) {
							font-size: rem(24);
							line-height: rem(15);
						}
					}
				}

				strong {
					display: block;
					padding-bottom: rem(15);

					@include media(sm) {
						padding-top: rem(30);
						margin-left: -47%;
						padding-left: rem(5);
						padding-right: rem(25);
					}
				}

				p {
					@include media(sm) {
						margin-left: -47%;
						padding-left: rem(5);
						padding-right: rem(16);
					}
				}
			}
		}

		&__bt {
			margin-top: rem(-50);
			@include flex;

			@include media(sm) {
				margin-top: rem(110);
			}

			a {
				margin-left: -28px;
				text-transform: uppercase;

				@include media(sm) {
					margin-left: 0;
				}
			}
		}
	}
}
