.process {
	&-factor {
		background-color: $c_bg;
		padding-top: rem(41);
		padding-bottom: rem(84);
		text-align: center;

		@include media(sm) {
			padding-top: rem(50);
			padding-bottom: rem(70);
		}

		.container {
			@include flex(column);
		}

		h4 {
			font-size: rem(18);
			font-weight: 400;
			letter-spacing: rem(1.5);
			line-height: rem(32);
			text-transform: uppercase;

			@include media(sm) {
				font-size: rem(14);
				letter-spacing: rem(1.17);
			}
		}

		h3 {
			font-size: rem(50);
			font-weight: 400;
			letter-spacing: rem(0.8);
			line-height: rem(50);
			margin-bottom: rem(30);

			@include media(sm) {
				font-size: rem(36);
				letter-spacing: rem(0.36);
				line-height: rem(42);
				margin-bottom: rem(21);
			}
		}

		p {
			font-size: rem(22);
			font-weight: 500;
			line-height: rem(38);
			max-width: rem(779);
			padding-bottom: rem(27);

			@include media(sm) {
				font-size: rem(18);
				line-height: rem(28);
				padding-bottom: rem(33);
			}
		}
	}
}
