.process {
	&-howto {
		padding-top: rem(58);
		padding-bottom: rem(88);
		background-color: $c_bg;

		@include media(sm) {
			padding-top: rem(70);
			padding-bottom: rem(45);
		}

		.container {
			@include flex(row, space-between, flex-start);

			@include media(sm) {
				flex-wrap: wrap;
			}
		}

		&--text {
			width: 56%;

			@include media(md) {
				width: 50%;
			}

			@include media(sm) {
				width: 100%;
				margin-bottom: rem(20);
			}

			h4 {
				font-size: rem(18);
				font-weight: 400;
				letter-spacing: rem(1.5);
				line-height: rem(32);
				text-transform: uppercase;
				margin-bottom: rem(8);

				@include media(sm) {
					font-size: rem(14);
					letter-spacing: rem(1.17);
					margin-bottom: 0;
					line-height: rem(26);
				}
			}

			h3 {
				font-size: rem(50);
				font-weight: 400;
				letter-spacing: rem(0.8);
				line-height: rem(50);
				margin-bottom: rem(24);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.36);
					margin-bottom: rem(15);
				}
			}

			p {
				line-height: rem(26);

				@include media(sm) {
					font-size: rem(14);
					line-height: rem(24);
				}
			}
		}

		&--img {
			position: relative;
			width: rem(308);
			height: rem(207);
			margin-bottom: rem(55);
			margin-top: rem(10);

			@include media(sm) {
				width: 100%;
			}

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				top: 0;
				right: rem(-8);
				width: rem(300);
				height: rem(253);
				background-color: rgba($c_blue, .1);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: rem(33);
				right: rem(18);

				@include media(sm) {
					width: rem(308);
					height: rem(205);
				}
			}
		}
	}
}
