.process {
	&-hero {
		padding-top: rem(50);
		height: 415px;

		@include media(sm) {
			padding-top: rem(60);
			height: 400px;
		}

		h1 {
			span {
				@include media(sm) {
					line-height: rem(35);
				}
			}
		}

		p {
			margin-bottom: rem(20);
			@include media(sm) {
				padding-bottom: rem(25);
				margin-bottom: 0;
			}
		}

		a {
			@include media(sm) {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}
