.process {
	&-contact {
		padding-top: rem(81);
		background-image: $c_gradient;

		@include media(sm) {
			padding-top: rem(75);
			padding-bottom: rem(14);
		}

		.container {
			@include flex(column);

			> h4 {
				color: #ffffff;
				font-size: rem(24);
				line-height: rem(24);

				@include media(sm) {
					font-size: rem(20);
					line-height: rem(32);
				}
			}

			> h3 {
				color: #ffffff;
				font-size: rem(50);
				letter-spacing: rem(0.5);
				line-height: rem(50);
				margin-bottom: rem(19);
				text-align: center;

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.36);
					line-height: rem(42);
					max-width: rem(290);
				}
			}

			> p {
				text-align: center;
				color: #ffffff;
				font-size: rem(20);
				line-height: rem(30);
				max-width: rem(563);
				padding-bottom: rem(30);

				@include media(sm) {
					font-size: rem(18);
					line-height: rem(28);
					padding-bottom: rem(26);
				}
			}
		}

		&__btns {
			margin-bottom: rem(114);

			@include media(sm) {
				margin-bottom: rem(60);
				@include flex;
			}

			a {
				&:not(:last-child) {
					margin-right: rem(21);

					@include media(sm) {
						margin-right: rem(10);
					}
				}

				@include media(sm) {
					text-align: center;
					padding: rem(10);
				}
			}
		}

		.contact-form {
			margin-bottom: rem(-40);
		}
	}
}
