<footer class="footer">
    <div class="footer-top">
        <a href="#"><img src="./assets/dist/img/logo-black.jpg" alt=""></a>
        <p>
            © 2019 Zanmai Labs Private Limited. All rights reserved
        </p>
    </div>

    <div class="footer-row --sm-icons">
        <div class="footer-col">
            <ul class="icons --big">
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/telegram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/medium.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-row">
        <div class="footer-col">
            <h5>Legal</h5>
        </div>
        <div class="footer-col">
            <h5>About</h5>
        </div>
        <div class="footer-col">
            <h5>Support</h5>
        </div>
        <div class="footer-col">
            <h5>Download</h5>
        </div>
    </div>

    <div class="footer-row --nav">
        <div class="footer-col">
            <h5>Legal</h5>
            <ul>
                <li><a href="#">AML Policy</a></li>
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h5>About</h5>
            <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">What is WRX Coin?</a></li>
                <li><a href="#">WazirX API</a></li>
            </ul>
            <ul>
                <li><a href="#">Trading, Deposit & Withdrawal Fees</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h5>Support</h5>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">List your Token</a></li>
                <li><a href="#">Partnerships & Enquiries</a></li>
                <li><a href="#">Media Assets</a></li>

            </ul>
        </div>
        <div class="footer-col">
            <h5>Download</h5>
            <ul class="icons">
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/android.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/apple.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-col _last">
            <ul class="icons --big">
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/telegram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="svg" src="./assets/dist/img/icons/medium.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>