.accordion {
	&__item {
		border-radius: 4px;
		border: 1px solid hsla(0, 0%, 59%, .21);
		margin: 5px 0;
		font-size: rem(14);

		&.open {
			div {
				max-height: 1000px;
				transition: max-height 1s ease-in-out;
			}

			label {
				&:after {
					transform: rotate(-180deg);
				}
			}
		}

		label {
			cursor: pointer;
			padding: rem(25);
			padding-right: rem(50);
			display: block;
			color: #304b69;
			font-weight: 600;
			line-height: 20px;
			position: relative;

			&:after {
				content: '';
				display: inline-block;
				height: rem(18);
				width: rem(18);
				background-image: url('../img/chevron.svg');
				background-size: cover;
				position: absolute;
				top: calc(50% - #{rem(9)});
				right: rem(25);
				transition: transform .3s linear;
			}
		}

		div {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

			span {
				padding: 0 rem(25) rem(25);
				color: #304b69;
				line-height: rem(20);
				display: block;

				ul {
					list-style-type: disc;
					padding: rem(10) 0 rem(10) rem(20);
				}

				sub {
					font-size: rem(10.5);
				}
			}
		}
	}
}
