html {
	@include media(xs) {
		font-size: 14px;
	}
}

body {
	font-family: $f_open;
}

.c {
	&--yellow {
		background-color: $c_yellow;
	}

	&--blue {
		background-color: $c_blue;
	}
}

@keyframes marquee {
	0% {
		left: 0;
	}
	100% {
		left: -100%;
	}
}

.input {
	margin-bottom: rem(32);
	position: relative;

	&.error {
		input {
			border-color: rgb(244, 67, 54);
		}

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			right: rem(16);
			height: rem(24);
			width: rem(24);
			background-image: url('../img/input-error.svg');
			background-size: cover;
			background-position: center;
			top: 45%;
		}
	}

	&.passed {
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			right: rem(16);
			height: rem(24);
			width: rem(24);
			background-image: url('../img/input-success.svg');
			background-size: cover;
			background-position: center;
			top: 45%;
		}
	}

	label {
		display: block;
		color: rgba(38, 50, 56, 0.87);
		font-size: rem(10);
		line-height: 1.2;
		text-transform: uppercase;
		text-align: left;
		font-weight: 600;
		margin-bottom: rem(6);
	}

	input {
		width: 100%;
		font-size: rem(16);
		line-height: 1.25;
		letter-spacing: 0.2px;
		color: rgb(34, 35, 38);
		background-color: rgb(255, 255, 255);
		border-radius: 4px;
		overflow: hidden;
		padding: rem(12) rem(16);
		border-width: 1px;
		border-style: solid;
		border-color: rgba(34, 35, 38, 0.12);
		border-image: initial;
	}

	span {
		&.message {
			font-size: rem(10);
			color: rgb(244, 67, 54);
			font-weight: 700;
			position: absolute;
			bottom: -16px;
			right: 0px;
		}
	}
}

.custom {
	&-checkbox {
		padding: 0px rem(16);
		height: 56px;
		width: 100%;
		border-radius: 4px;
		border-width: 1px;
		border-style: solid;
		border-color: rgba(34, 35, 38, 0.12);
		background-color: #f8fafb;
		margin-bottom: rem(25);
		cursor: pointer;
		position: relative;
		@include flex(row, flex-start);

		&.checked {
			label {
				background-color: #1fe973;
				border: 2px solid #1fe973;
				background-image: url('../img/check.svg');
				background-size: 125%;
				background-position: center;
			}
		}

		&.error {
			border-color: rgb(244, 67, 54);
		}

		input {
			display: none;
		}

		label {
			display: block;
			height: rem(18);
			width: rem(18);
			border-radius: 2px;
			border: 2px solid #333333;
			margin-right: rem(16);
		}

		span {
			font-size: rem(12);
			color: rgba(38, 50, 56, 0.87);
			display: block;

			a {
				color: $c_blue;
			}

			&.message {
				font-size: rem(10);
				color: rgb(244, 67, 54);
				font-weight: 700;
				position: absolute;
				bottom: -16px;
				right: 0px;
			}
		}
	}
}
