.footer {
	padding: rem(78) 18%;
	background-color: #edf1fa;

	@include media(lg) {
		padding: rem(56) rem(30) rem(70);
	}

	&-top {
		margin-bottom: rem(58);
		padding: 0 rem(15);
		@include flex(row, space-between, flex-start);

		@include media(lg) {
			margin-bottom: rem(20);
		}

		a {
			img {
				height: rem(30);
			}
		}

		p {
			font-size: rem(12);
			line-height: 1.71;
			letter-spacing: rem(0.4);
			color: $c_text;

			@include media(lg) {
				font-size: rem(10);
				width: 45%;
			}
		}
	}

	&-row {
		padding: 0 rem(15);
		width: 100%;
		@include flex(row, flex-start, flex-start);

		&:not(:last-child) {
			padding-bottom: rem(4);
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		}

		@include media(lg) {
			flex-wrap: wrap;
			display: none;
		}

		&.--nav {
			@include media(lg) {
				display: flex;
			}

			h5 {
				display: none;

				@include media(lg) {
					display: block;
				}
			}
		}

		&.--sm-icons {
			display: none;

			@include media(lg) {
				display: flex;
				margin-bottom: rem(20);
			}

			ul {
				margin-bottom: rem(20);
			}
		}
	}

	&-col {
		flex-shrink: 0;
		width: 18.75%;
		padding: 0 rem(15);

		@include media(lg) {
			width: 25%;
		}

		@include media(sm) {
			width: 100%;
			text-align: center;
		}

		&._last {
			width: auto;
			margin-left: auto;
			padding: 0;

			@include media(lg) {
				display: none;
			}
		}

		h5 {
			font-weight: 600;
			font-size: rem(14);
			line-height: 1.71;
		}

		ul {
			margin-top: rem(10);
			margin-bottom: rem(25);

			&.icons {
				@include flex(row, flex-start, flex-start);

				@include media(sm) {
					justify-content: center;
				}

				li {
					a {
						height: rem(30);
						width: rem(30);
						border-radius: 50%;
						border: 2px solid rgba($c_blue, .5);
						margin: 0 rem(6);
						@include flex;

						@include media(sm) {
							height: rem(36);
							width: rem(36);
						}

						&:hover {
							border: 2px solid rgba($c_blue, 1);

							svg {
								path {
									fill: rgba($c_blue, 1);
								}
							}
						}

						img,
						svg {
							width: rem(14);

							path {
								fill: rgba($c_blue, .5);
							}
						}
					}
				}
			}

			&.--big {
				li {
					a {
						img,
						svg {
							width: rem(20);
						}
					}
				}
			}

			li {
				a {
					color: rgba(74, 74, 74, 0.8);
					line-height: 1.67;
					letter-spacing: rem(0.4);
					font-size: rem(14);
					padding: rem(4) 0px;
					display: block;
				}
			}
		}
	}
}
