.header {
	background-color: #ffffff;
	height: 72px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 1px 1px;
	position: relative;
	z-index: 1;
	@include flex(row, space-between);

	@include media(lg) {
		height: rem(50);
		justify-content: center;
	}

	> a {
		padding: 15px;

		img {
			max-width: 140px;
		}
	}

	nav {
		height: 100%;

		@include media(lg) {
			height: auto;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: #ffffff;
			width: 100%;
			max-height: 0;
			overflow: hidden;
			z-index: 1;
			transition: max-height .5s linear;

			&.show {
				max-height: 500px;
			}
		}

		ul {
			height: 100%;
			@include flex;

			@include media(lg) {
				flex-direction: column;
				height: auto;
				padding: 0 rem(30);
			}

			li {
				height: 100%;
				border-left: 1px solid #eeeeee;

				@include media(lg) {
					height: rem(50);
					width: 100%;
					margin: rem(15);
					border-left: 0;
				}

				a {
					padding: 0px 44px;
					height: 100%;
					color: rgba(28, 27, 33, 0.5);
					letter-spacing: 0.4px;
					font-weight: 800;
					font-size: rem(14);
					line-height: 1.33;
					text-transform: uppercase;
					@include flex;

					@include media(lg) {
						box-shadow: none;
						border-bottom: 1px solid rgba(28, 27, 33, 0.24);
					}
				}
			}
		}
	}

	button {
		height: rem(14);
		position: absolute;
		right: rem(15);
		top: 50%;
		transform: translateY(-50%);
		@include flex(column, space-between);
		display: none;

		@include media(lg) {
			display: flex;
		}

		span {
			background-color: $c_blue;
			height: rem(2);
			width: rem(22);
		}
	}
}
