$path: '../../dist/';

$s-default: 16;

// fonts
$f_open: 'Open Sans', Arial, sans-serif;

// color
$c_yellow: #f9de38;
$c_blue: #3067f0;
$c_gray: #9b9b9b;
$c_text: #4a4a4a;
$c_bg: linear-gradient(rgb(227, 234, 252), rgb(255, 255, 255));
