.btn {
	padding: rem(18) rem(28);
	border-radius: 3px;
	font-weight: 700;
	box-sizing: border-box;
	display: inline-block;

	@include media(sm) {
		padding: rem(13) rem(17);
	}

	&.smsm {
		@include media(sm) {
			font-size: rem(14);
		}
	}

	&._up {
		text-transform: uppercase;
		font-weight: 600;
	}

	&-br {
		border: 2px solid #c1f6fd;
		color: #ffffff;

		&--blue {
			border: 2px solid #0d80d0;
			color: #0d80d0;
		}
	}

	&-solid {
		border: 2px solid #c1f6fd;
		background-color: #c1f6fd;
		color: #263d4b;

		&--blue {
			border: 2px solid $c_blue;
			background-color: $c_blue;
			color: #ffffff;
		}
	}

	&-link {
		color: $c_blue;
	}

	&-gradient {
		border-radius: 6px;
		background-image: $c_gradient;
		padding: rem(26) rem(86);
		color: #ffffff;
		font-size: rem(24);
		font-weight: 600;
	}
}
