html {
	@include media(xs) {
		font-size: 14px;
	}
}

body {
	color: $c_text;
	font-family: $f_av;
}

img:not([src]) {
	visibility: hidden;
}

.container {
	width: 100%;
	max-width: 970px;
	padding: 0 rem(25);
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-family: $f_ab;
}
