.footer {
	background-color: $c_bg;
	padding-top: rem(82);
	padding-bottom: rem(45);

	@include media(md) {
		padding-top: rem(53);
	}

	nav {
		margin-bottom: rem(105);
		@include flex(row, flex-start, flex-start);

		@include media(lg) {
			flex-wrap: wrap;
		}

		@include media(sm) {
			margin-bottom: 0;
		}
	}

	&__col {
		&:nth-child(1) {
			margin-right: rem(145);
		}

		&:nth-child(2) {
			margin-right: rem(110);

			@include media(sm) {
				margin-left: rem(26);
			}
		}

		&:nth-child(3) {
			margin-right: rem(140);
		}

		&:nth-child(4) {
			@include media(sm) {
				margin-left: rem(26);
			}
		}

		@include media(lg) {
			width: 45%;
			margin-right: 0 !important;
			margin-bottom: rem(59);
		}

		@include media(md) {
			margin-bottom: rem(48);
		}

		h4 {
			font-weight: 700;
			line-height: rem(24);
			text-transform: uppercase;
			color: $c_blue;
			margin-bottom: rem(8);

			@include media(sm) {
				margin-bottom: rem(5);
			}
		}

		&--links {
			li {
				font-weight: 400;
				line-height: rem(35);

				@include media(md) {
					line-height: rem(32);
				}

				a {
					@include media(sm) {
						font-size: rem(14);
						line-height: rem(22);
					}
				}
			}
		}

		&--social {
			padding-top: rem(5);
			@include flex(row, flex-start, flex-start);

			li {
				&:not(:last-child) {
					margin-right: rem(15);
				}

				a {
					height: rem(29);
					width: rem(29);
					background-color: $c_blue;
					border-radius: 50%;
					@include flex;
				}
			}
		}
	}

	&-cr {
		opacity: .5;
		text-align: center;
		line-height: rem(24);

		@include media(sm) {
			font-size: rem(14);
			line-height: rem(22);
			max-width: rem(280);
			width: 100%;
			margin: 0 auto;
		}
	}
}
