.header {
	height: rem(100);
	padding: 0 rem(30);
	box-shadow: 0 rem(4) rem(10) rgba(#000000, .2);
	position: relative;
	@include flex(row, space-between);

	@include media(sm) {
		height: rem(88);
	}

	&-logo {
		z-index: 10;

		img {
			max-width: rem(355);

			@include media(sm) {
				max-width: rem(239);
			}
		}
	}

	nav {
		@include media(lg) {
			position: fixed;
			top: 0;
			left: 0;
			transform: translateY(-100%);
			transition: transform .5s ease-in-out, opacity .3s ease-in-out;
			transition-delay: 0s, .3s;
			width: 100%;
			background-color: #ffffff;
			z-index: 9;
			opacity: 0;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
		}

		&.open {
			transform: translateY(0);
			opacity: 1;
		}

		ul {
			@include flex;

			@include media(lg) {
				padding-top: rem(160);
				padding-left: rem(25);
				padding-bottom: rem(20);
				@include flex(column, center, flex-start);
			}

			li {
				&:not(:last-child) {
					margin-right: rem(33);
				}

				@include media(lg) {
					margin-bottom: rem(30);
				}

				a {
					font-weight: 500;

					@include media(lg) {
						font-size: rem(20);
					}
				}
			}
		}
	}

	button {
		display: none;

		@include media(lg) {
			height: rem(22);
			z-index: 10;
			@include flex(column, space-between);
		}

		&.open {
			span {
				&:nth-child(1) {
					transform: rotate(45deg) translate(#{rem(5)}, #{rem(9.5)});
				}

				&:nth-child(2) {
					opacity: 0;
					transform: rotate(-45deg) translate(0px, #{rem(-2.5)});
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translate(#{rem(5)}, #{rem(-9.5)});
				}
			}
		}

		span {
			height: 2px;
			width: rem(35);
			border-radius: 25px;
			background-color: #263d4b;
			display: block;
			opacity: 1;
			transition: transform .3s linear, opacity .3s linear;
		}
	}
}
