.tell-us {
	background-color: $c_bg;
	padding-top: rem(100);
	padding-bottom: rem(82);
	@include flex(column);

	@include media(md) {
		padding-top: rem(78);
		text-align: center;
	}

	h5 {
		color: $c_blue;
		font-size: rem(18);
		letter-spacing: rem(1.5);
		line-height: rem(32);
		text-transform: uppercase;

		@include media(md) {
			font-size: rem(14);
			letter-spacing: rem(1.2);
			line-height: rem(28);
		}
	}

	h4 {
		font-size: rem(36);
		font-weight: 400;
		line-height: rem(48);
		text-transform: uppercase;
		margin-bottom: rem(50);

		@include media(md) {
			font-size: rem(26);
			margin-bottom: rem(25);
		}
	}

	h2 {
		font-size: rem(50);
		letter-spacing: rem(0.5);
		line-height: rem(50);
		margin-bottom: rem(35);

		@include media(md) {
			font-size: rem(36);
			letter-spacing: rem(0.36);
			line-height: rem(42);
		}

		span {
			position: relative;

			@include media(md) {
				display: block;
			}

			&:before {
				content: '';
				display: inline-block;
				width: 100%;
				height: 3px;
				background-color: #4a90e2;
				position: absolute;
				bottom: rem(-5);
				left: 0;
			}
		}
	}

	a {
		display: inline-block;
		margin-top: rem(32);

		@include media(md) {
			margin-top: rem(17);
			padding: rem(18) rem(44);
			font-size: rem(20) !important;
		}
	}
}

.quote {
	&-r {
		@include flex(row, flex-start);

		&.--blue {
			.quote-r__photo {
				border-color: $c_blue;
				height: rem(48);
				width: rem(48);
			}

			.quote-r__info {
				span {
					@include media(sm) {
						font-size: rem(15) !important;
					}

					&:first-child {
						color: $c_blue;
					}
				}
			}
		}

		&__photo {
			position: relative;
			height: rem(38);
			width: rem(38);
			border: rem(2) solid #ffffff;
			border-radius: 50%;
			overflow: hidden;
			margin-right: rem(12);
			flex-shrink: 0;

			@include media(sm) {
				height: rem(34);
				width: rem(34);
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__info {
			font-size: rem(15);
			line-height: rem(20);
			@include flex(column, center, flex-start);

			span {
				display: block;
				font-weight: 500;

				@include media(sm) {
					font-size: rem(12);
				}

				&:first-child {
					font-weight: 700;
				}
			}

			b {
				font-weight: 700;
			}
		}
	}
}

.slick {
	opacity: 0;
	transition: opacity .5s linear;

	&-initialized {
		opacity: 1;
	}
}

.section {
	&__hero {
		@include flex(column, flex-start);
		height: rem(422);
		overflow: hidden;
		position: relative;
		background-image: $c_gradient;
		color: #ffffff;
		padding-top: rem(78);
		text-align: center;

		@include media(md) {
			padding-left: 25px;
			padding-right: 25px;
		}

		h1 {
			font-size: rem(90);

			@include media(md) {
				font-size: rem(54);
				line-height: rem(50);
				margin-bottom: rem(20);
			}

			span {
				font-family: $f_av;
				display: block;
				font-size: rem(24);

				@include media(md) {
					font-size: rem(20);
					line-height: rem(40);
				}
			}
		}

		p {
			max-width: rem(563);
			font-size: rem(20);
			line-height: rem(30);

			@include media(md) {
				font-size: rem(16);
				line-height: rem(26);
				padding-bottom: rem(50);
			}
		}
	}
}

.content {
	transition: filter .5s linear;
	filter: blur(0);

	&.menu-show {
		filter: blur(5px);
		pointer-events: none;
	}
}
