@font-face {
	font-family: 'Abril Fatface';
	src: url($path + '/fonts/abril/AbrilFatface-Regular.woff2') format('woff2'),
		url($path + '/fonts/abril/AbrilFatface-Regular.woff') format('woff'),
		url($path + '/fonts/abril/AbrilFatface-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url($path + '/fonts/avenir/AvenirNextCyr-Regular.eot');
	src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
		url($path + '/fonts/avenir/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
		url($path + '/fonts/avenir/AvenirNextCyr-Regular.woff') format('woff'),
		url($path + '/fonts/avenir/AvenirNextCyr-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url($path + '/fonts/avenir/AvenirNextCyr-Medium.eot');
	src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
		url($path + '/fonts/avenir/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url($path + '/fonts/avenir/AvenirNextCyr-Medium.woff') format('woff'),
		url($path + '/fonts/avenir/AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url($path + '/fonts/avenir/AvenirNextCyr-Demi.eot');
	src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
		url($path + '/fonts/avenir/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
		url($path + '/fonts/avenir/AvenirNextCyr-Demi.woff') format('woff'),
		url($path + '/fonts/avenir/AvenirNextCyr-Demi.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url($path + 'AvenirNextCyr-Bold.eot');
	src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
		url($path + '/fonts/avenir/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url($path + '/fonts/avenir/AvenirNextCyr-Bold.woff') format('woff'),
		url($path + '/fonts/avenir/AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MavenProBold';
	src: url($path + '/fonts/maven/MavenProBold.eot?#iefix') format('embedded-opentype'),
		url($path + '/fonts/maven/MavenProBold.woff') format('woff'),
		url($path + '/fonts/maven/MavenProBold.ttf') format('truetype'),
		url($path + '/fonts/maven/MavenProBold.svg#MavenProBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
