$path: '../../dist/';
$slick-font-path: $path + "/fonts/slick/" !default;
$slick-loader-path: $path + "/img/" !default;

$s-default: 16;

// fonts
$f_av: 'Avenir Next Cyr', Arial, sans-serif;
$f_ab: 'Abril Fatface', 'Times new roman', cursive;
$f_mav: 'MavenProBold', Georgia, serif;

// color
$c_blue: #007ace;
$c_blue-dark: #065598;
$c_text: #263d4b;
$c_bg: #f9f9f9;
$c_gradient: linear-gradient(132deg, #3dbdb6 0%, #0089ce 100%);
