.etf {
	&-active {
		background-color: $c_bg;
		padding-top: rem(75);
		padding-bottom: rem(62);

		@include media(sm) {
			padding-top: rem(65);
		}

		.container {
			@include flex(row, space-between, flex-start);

			@include media(sm) {
				flex-wrap: wrap;
			}
		}

		&--text {
			width: 50%;

			@include media(lg) {
				width: 42%;
			}

			@include media(sm) {
				width: 100%;
				margin-bottom: rem(25);
			}

			h3 {
				font-size: rem(38);
				letter-spacing: rem(0.38);
				line-height: rem(50);
				margin-bottom: rem(15);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.36);
					line-height: rem(42);
					margin-bottom: rem(25);
				}

				span {
					display: block;
				}
			}

			ul {
				max-width: rem(465);

				li {
					margin-bottom: rem(20);
					font-size: rem(19);
					font-weight: 600;
					line-height: rem(28);
					@include flex(row, flex-start, flex-start);

					@include media(sm) {
						line-height: rem(24);
						font-size: rem(16);
						margin-bottom: rem(17);
					}

					&:before {
						content: '';
						display: inline-block;
						height: 2px;
						width: rem(55);
						background-color: $c_blue;
						margin-top: rem(12.5);
						margin-right: rem(18);

						@include media(sm) {
							width: rem(70);
						}
					}
				}
			}
		}

		&--img {
			position: relative;
			width: rem(380);
			height: rem(233);
			margin-top: rem(-25);

			@include media(sm) {
				width: 100%;
			}

			&:before {
				content: '';
				display: inline-block;
				top: 0;
				left: 0;
				width: rem(299);
				height: rem(249);
				background-color: rgba($c_blue, .1);
				margin-bottom: rem(30);

				@include media(sm) {
					margin-bottom: rem(5);
				}
			}

			img {
				width: rem(330);
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: rem(33);
				left: rem(50);

				@include media(sm) {
					width: rem(275);
					height: rem(195);
				}
			}

			p {
				font-weight: 500;
				line-height: rem(24);

				@include media(sm) {
					font-size: rem(14);
					line-height: rem(22);
				}
			}
		}

		&--bt {
			padding-top: rem(70);
			@include flex;

			@include media(sm) {
				padding-top: rem(185);
			}
		}
	}
}
