.etf {
	&-graph {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.41) 0%, #ffffff 100%),
			linear-gradient(180deg, rgba(56, 185, 183, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
		padding-top: rem(62);
		padding-bottom: rem(155);

		@include media(sm) {
			padding-bottom: rem(100);
		}

		h3 {
			max-width: 620px;
			font-size: rem(32);
			letter-spacing: rem(0.53);
			line-height: rem(44);

			@include media(sm) {
				font-size: rem(28);
				letter-spacing: rem(0.47);
				line-height: rem(40);
			}
		}

		&__grid {
			@include flex(row, space-between, flex-start);

			@include media(lg) {
				// align-items: flex-end;
			}

			@include media(sm) {
				flex-wrap: wrap;
			}
		}

		&--img {
			position: relative;
			width: rem(308);
			height: rem(233);
			padding-top: rem(26);

			@include media(sm) {
				margin-bottom: rem(135);
			}

			&:before {
				content: '';
				display: inline-block;
				width: rem(300);
				height: rem(305);
				background-color: rgba($c_blue, .1);
				margin-bottom: rem(30);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: rem(38);
				left: rem(36);

				@include media(sm) {
					width: rem(294);
					height: rem(222);
					top: rem(45);
					left: rem(30);
				}
			}
		}

		&--graph {
			width: 58%;

			@include media(lg) {
				width: 50%;
			}

			@include media(sm) {
				width: 100%;
			}

			img {
				width: 100%;
			}
		}
	}
}
