.etf {
	&-q {
		padding-top: rem(65);
		padding-bottom: rem(161);

		@include media(sm) {
			padding-bottom: rem(87);
		}

		.container {
			@include flex(row, space-between, flex-start);

			@include media(sm) {
				flex-wrap: wrap;
			}
		}

		&--img {
			position: relative;
			width: rem(308);
			height: rem(233);
			margin-bottom: rem(55);
			margin-top: rem(10);

			@include media(sm) {
				margin-bottom: rem(65);
			}

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: rem(300);
				height: rem(281);
				background-color: rgba($c_blue, .1);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: rem(33);
				left: rem(36);

				@include media(sm) {
					width: rem(290);
					height: rem(220);
				}
			}
		}

		&--text {
			width: 57%;

			@include media(lg) {
				width: 45%;
			}

			@include media(sm) {
				width: 100%;
			}

			h3 {
				font-size: rem(28);
				font-weight: 400;
				letter-spacing: rem(0.47);
				line-height: rem(40);
				margin-bottom: rem(20);

				@include media(sm) {
					font-size: rem(24);
					letter-spacing: rem(0.4);
					line-height: rem(34);
					max-width: rem(300);
				}
			}

			p {
				color: #454f5b;
				font-size: rem(18);
				font-weight: 500;
				line-height: rem(30);
				padding-bottom: rem(31);

				@include media(sm) {
					font-size: rem(16);
					line-height: rem(28);
					padding-bottom: rem(25);
				}
			}
		}
	}
}
