.etf {
	&-hero {
		background-image: $c_gradient;
		height: rem(412);
		padding-top: rem(40);
		padding-bottom: rem(100);
		color: #ffffff;

		@include media(sm) {
			height: auto;
			padding-bottom: rem(65);
		}

		.container {
			@include flex(row, space-between, flex-start);

			@include media(sm) {
				flex-wrap: wrap;
			}
		}

		&--text {
			width: 45%;

			@include media(sm) {
				width: 100%;
				margin-bottom: rem(50);
			}

			h4 {
				font-size: rem(24);
				line-height: rem(32);

				@include media(sm) {
					font-size: rem(18);
				}
			}

			h3 {
				font-size: rem(50);
				letter-spacing: rem(0.5);
				line-height: rem(50);
				margin-bottom: rem(14);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.36);
					line-height: rem(40);
				}
			}

			p {
				font-size: rem(32);
				padding-bottom: rem(50);

				@include media(sm) {
					font-size: rem(24);
					line-height: rem(32);
					padding-bottom: rem(17);
				}
			}
		}

		&--stocks {
			@include media(sm) {
				width: 100%;
			}

			h4 {
				text-transform: uppercase;
				margin-bottom: rem(9);
				padding-top: rem(10);

				@include media(sm) {
					font-size: rem(14);
				}

				span {
					text-transform: capitalize;
				}
			}

			ul {
				border-radius: 3px;
				background-color: rgba(#000000, .1);

				li {
					font-size: rem(20);
					font-weight: 600;
					padding: rem(12);
					padding-right: rem(45);

					&:not(:last-child) {
						border-bottom: 1px dashed rgba(#ffffff, .5);
					}

					@include media(sm) {
						font-size: rem(16);
						padding: rem(11);
					}

					span {
						font-weight: 400;
						padding-right: rem(35);

						@include media(sm) {
							padding-right: rem(32);
						}
					}
				}
			}
		}
	}
}
