.etf {
	&-resources {
		padding-top: rem(91);
		padding-bottom: rem(158);

		@include media(lg) {
			padding-bottom: rem(71);
		}

		@include media(sm) {
			padding-top: rem(100);
			padding-bottom: rem(30);
		}

		.container {
			> h4 {
				font-size: rem(18);
				font-weight: 400;
				letter-spacing: rem(1.5);
				line-height: rem(32);
				text-transform: uppercase;

				@include media(sm) {
					font-size: rem(14);
					letter-spacing: rem(1.17);
					line-height: rem(25);
				}
			}

			> h3 {
				font-size: rem(50);
				letter-spacing: rem(0.5);
				line-height: rem(50);

				@include media(sm) {
					font-size: rem(36);
					letter-spacing: rem(0.36);
				}
			}
		}

		&__grid {
			padding-top: rem(40);
			flex-wrap: wrap;
			@include flex(row, space-between, flex-start);
		}

		&__item {
			width: calc(33.333% - #{rem(6.66)});
			max-width: rem(300);
			@include flex(column, flex-start, flex-start);

			@include media(lg) {
				width: 100%;
				max-width: inherit;

				&:nth-child(even) {
					align-items: flex-end;

					.etf-resources__item-content {
						align-items: flex-end;
					}
				}
			}

			@include media(sm) {
				margin-bottom: rem(53);
				@include flex(row, center, flex-start);

				&:nth-child(even) {
					align-items: flex-start;

					.etf-resources__item-content {
						align-items: flex-start;
					}
				}
			}

			h3 {
				color: #d2d7de;
				letter-spacing: rem(0.5);
				line-height: rem(50);
				font-size: rem(50);
				margin-bottom: rem(20);

				@include media(sm) {
					margin-right: rem(25);
				}
			}

			&-content {
				@include flex(column, center, flex-start);

				@include media(sm) {
					width: 100%;
				}
			}

			&-middle {
				margin-bottom: rem(15);
				@include flex;

				img {
					margin-right: rem(20);
					max-width: rem(63);
					max-height: rem(53);

					@include media(sm) {
						max-width: rem(48);
						max-height: rem(50);
					}
				}

				h4 {
					font-size: rem(24);
					font-weight: 700;
					line-height: rem(30);
					color: #273f4d;

					@include media(sm) {
						font-size: rem(18);
						line-height: rem(24);
					}

					span {
						display: block;
					}
				}
			}

			p {
				color: #454f5b;
				font-size: rem(20);
				line-height: rem(28);
				padding-bottom: rem(15);

				@include media(lg) {
					max-width: 60%;
				}

				@include media(sm) {
					font-size: rem(16);
					line-height: rem(24);
					width: 100%;
					max-width: inherit;
				}
			}

			.btn {
				@include media(sm) {
					font-size: rem(14);
				}
			}
		}
	}
}
