.home-coins {
	padding-top: rem(100);
	padding-bottom: rem(110);
	display: flex;
	background-image: $c_bg;

	@include media(lg) {
		padding: rem(40) rem(30) rem(56);
	}

	@include media(sm) {
		flex-direction: column;
	}

	&__art {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(10%, -30%);
		width: 20%;
	}

	&__img {
		margin-left: 18.75%;
		width: calc(18.75% - 30px);

		@include media(lg) {
			margin-left: 10%;
		}

		@include media(sm) {
			margin-left: 0;
			width: 100%;
			margin-bottom: rem(40);
			@include flex;
		}

		img {
			width: 100%;

			@include media(sm) {
				width: rem(96);
				height: rem(96);
			}
		}
	}

	&__content {
		position: relative;
		width: 50%;
		padding-left: 4%;

		@include media(sm) {
			width: 100%;
			padding-left: 0;
		}

		h2 {
			color: #1c1b21;
			letter-spacing: rem(0.4);
			text-transform: uppercase;
			font-weight: 700;
			font-size: rem(26);
			line-height: 1.13;
		}

		h4 {
			color: rgba(28, 27, 33, 0.87);
			letter-spacing: rem(0.4);
			line-height: 1.43;
			padding-top: rem(35);
			margin-bottom: rem(24);
		}

		p {
			padding: rem(24) 0;
			border-top: 1px solid rgba(0, 0, 0, 0.12);
			color: rgba(28, 27, 33, 0.54);
			letter-spacing: rem(0.4);
			font-size: rem(14);
			line-height: 1.71;
		}

		a {
			color: $c_blue;
			letter-spacing: rem(0.4);
			font-size: rem(14);
			line-height: 1.43;
			font-weight: 700;
		}
	}
}
