.home-download {
	padding: rem(36);
	padding-bottom: 0;
	background-image: url('../img/download.svg');
	background-size: 100% 100%;
	@include flex(column);

	@include media(sm) {
		padding-left: 0;
		padding-right: 0;
	}

	h2 {
		font-size: rem(36);
		font-weight: 800;
		color: #fff;
		font-style: italic;
		line-height: 1rem;

		@include media(sm) {
			font-size: rem(24);
		}
	}

	ul {
		padding: rem(25) 0;
		@include flex;

		@include media(md) {
			flex-wrap: wrap;
		}

		li {
			margin: rem(5) rem(10);

			@include media(sm) {
				max-width: 45%;
			}

			a {
				img {
					max-width: rem(147);
					max-height: rem(39);
				}
			}
		}
	}
}
