.home-edge {
	padding: rem(60) 14% rem(105);
	background-image: linear-gradient(rgb(255, 255, 255), rgb(223, 232, 252) 49%, rgb(255, 255, 255));
	flex-wrap: wrap;
	@include flex(row, space-between, flex-start);

	@include media(lg) {
		padding: rem(52) rem(30) rem(68);
	}

	&__item {
		width: 50%;
		padding: 0px 4% rem(26);
		text-align: center;
		color: $c_text;
		@include flex(column);

		@include media(sm) {
			width: 100%;
			text-align: left;
			align-items: flex-start;
		}

		&-img {
			height: rem(90);
			width: rem(90);
			@include flex;

			img {
				width: 100%;
			}
		}

		h3 {
			letter-spacing: rem(0.4);
			text-transform: uppercase;
			font-weight: 800;
			font-size: rem(20);
			line-height: 1.2;
			padding: rem(8) 0px;
		}

		p {
			letter-spacing: rem(0.4);
			font-size: rem(14);
			line-height: 1.71;
		}
	}
}
