.home-everyone {
	padding: rem(123) 23%;
	background-image: url('../img/everyone.jpg');
	background-size: cover;
	color: #ffffff;

	@include media(lg) {
		padding: rem(70) rem(30) rem(92);
	}

	h2 {
		font-weight: 800;
		font-size: rem(36);
		line-height: 1;

		@include media(sm) {
			font-size: rem(22);
		}
	}

	h4 {
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.4;
		padding: rem(32) 0px;

		@include media(sm) {
			font-size: rem(14);
		}
	}

	p {
		font-size: rem(14);
		line-height: 1.4;
	}
}
