.home-featured {
	padding-bottom: rem(80);
	overflow: hidden;

	h2 {
		text-align: center;
		position: relative;
		text-transform: uppercase;
		color: #929292;
		font-size: rem(24);
		font-weight: 700;
		margin-bottom: rem(15);

		&:before {
			content: "";
			position: absolute;
			top: 150%;
			left: 50%;
			transform: translateX(-50%);
			height: 2px;
			width: 40px;
			background: #111d2b;
		}
	}

	div {
		position: relative;
		height: 100px;
		width: 4000px;

		ul {
			position: absolute;
			animation: marquee 30s cubic-bezier(.01, 0, .59, .78) alternate-reverse infinite;
			flex-shrink: 0;
			height: 100%;
			@include flex(row, flex-start);

			&:hover {
				animation-play-state: paused;
			}

			li {
				margin-right: rem(50);

				a {
					display: inline-block;

					img {
						max-width: rem(150);
					}
				}
			}
		}
	}
}
