.home-hero {
	position: relative;
	background-color: $c_blue;
	padding: rem(122) 0px rem(142);
	@include flex(row, space-between, flex-start);

	@include media(lg) {
		flex-wrap: wrap;
		padding: rem(52) rem(30) 0px;
	}

	&__art {
		max-width: 52%;
		position: absolute;
		top: rem(-50);
		left: rem(-130);

		@include media(md) {
			max-width: 25%;
			top: rem(-25);
			left: rem(-25);
		}
	}

	&__content {
		position: relative;
		margin-left: 12.5%;
		width: calc(43.75% - 30px);
		color: #ffffff;

		@include media(lg) {
			width: 100%;
			margin-left: 0;
			margin-bottom: rem(50);
		}

		h3 {
			font-weight: 800;
			line-height: 1rem;
			position: relative;
			text-transform: uppercase;
			color: #333333;
			padding: rem(4) rem(16);
			transform: translateX(5%);
			display: inline-block;
			margin-bottom: rem(8);

			&:before {
				content: "";
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0px;
				top: 0px;
				z-index: -1;
				transform: skewX(-45deg) translateX(0%);
				background-color: $c_yellow;
			}
		}

		h1 {
			font-weight: 800;
			font-style: italic;
			letter-spacing: rem(0.4);
			text-transform: uppercase;
			font-weight: 800;
			font-size: rem(48);
			line-height: 1;
			position: relative;

			@include media(sm) {
				font-size: rem(30);
			}
		}

		p {
			padding: rem(10) 0;
			letter-spacing: rem(0.4);
			line-height: 1.4;

			strong {
				font-weight: 800;
				font-size: rem(18);
			}

			a {
				color: $c_yellow;
				font-weight: 600;
			}
		}

		> a {
			max-width: rem(320);
			width: 100%;
			background-color: $c_yellow;
			box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px, rgba(255, 255, 255, 0.12) 0px -1px 0px 0px inset;
			border-radius: 4px;
			margin-top: rem(14);
			padding: rem(16);
			color: rgb(124, 110, 27);
			letter-spacing: rem(0.4);
			text-transform: uppercase;
			font-weight: 800;
			line-height: 1.4;
			@include flex;

			@include media(sm) {
				max-width: 100%;
			}
		}

		ul {
			display: flex;
			margin-top: rem(24);

			@include media(sm) {
				justify-content: center;
			}

			li {
				margin-right: rem(10);

				a {
					img {
						max-width: rem(155);
					}
				}
			}
		}
	}

	&__imgs {
		width: 43%;
		padding-left: 55px;

		@include media(lg) {
			width: 100%;
			padding-left: 0;
			@include flex;
		}

		&--m {
			display: none;

			@include media(lg) {
				display: block;
			}
		}

		&--d {
			@include media(lg) {
				display: none;
			}
		}

		img {
			width: 100%;

			@include media(lg) {
				max-width: 230px;
			}
		}
	}
}
