.home-team {
	padding: 0px 18% rem(105);
	color: $c_text;
	letter-spacing: rem(0.4);

	@include media(lg) {
		padding: rem(52) rem(30) rem(68);
	}

	h2 {
		font-weight: 800;
		font-size: rem(48);
		line-height: 1.08;
		margin-bottom: rem(48);

		@include media(sm) {
			text-align: center;
		}
	}

	&__grid {
		@include flex(row, flex-start, flex-start);

		@include media(sm) {
			flex-wrap: wrap;
		}
	}

	&__item {
		padding: 0px rem(16);
		width: 31.25%;

		@include media(sm) {
			width: 100%;
			padding: rem(25) 0px;
			text-align: center;
			@include flex(column);
		}

		&-img {
			width: 176px;
			height: 176px;
			overflow: hidden;
			position: relative;
			border-radius: 5px;

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		h3 {
			font-weight: 800;
			font-size: rem(20);
			line-height: 1.2;
			padding: rem(22) 0px rem(12);
		}

		p {
			font-size: rem(14);
			line-height: 1.71;

			a {
				color: $c_blue;
			}
		}
	}
}
