@@include('./components/_header.html')
    
    <section class="home-hero">
        <div class="home-hero__content">
            <img src="./assets/dist/img/hero-art.png" alt="" class="home-hero__art">
            <h3>NOW OPEN FOR ALL COUNTRIES</h3>
            <h1>WAZIRX IS INDIA’S MOST TRUSTED BITCOIN EXCHANGE</h1>
            <p>Buy, Sell & Trade Bitcoin, Ethereum, Ripple, Litecoin and more cryptocurrencies in India. Start trading now!</p>
            <p>
                <strong>
                    Earn free <a href="#">100 WRX</a> Coins on first trade!
                </strong>
            </p>
            <a href="#">sign up now</a>
            <ul>
                <li><a href="#"><img src="./assets/dist/img/store-g-black.png" alt="" srcset=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/store-a-black.png" alt="" srcset=""></a></li>
            </ul>
        </div>
        <div class="home-hero__imgs">
            <img class="home-hero__imgs--d" src="./assets/dist/img/hero-img-d.png" alt="">
            <img  class="home-hero__imgs--m" src="./assets/dist/img/hero-img-m.png" alt="">
        </div>
    </section>

    <section class="home-coins">
        <div class="home-coins__img">
            <img src="./assets/dist/img/coins.png" alt="">
        </div>
        <div class="home-coins__content">
            <img src="./assets/dist/img/coins-art.jpg" alt="" class="home-coins__art">
            <h2>
                THE GREAT 150 MILLION WRX COINS GIVEAWAY BY WAZIRX. DON’T MISS OUT.
            </h2>
            <h4>
                Just like Bitcoin and other cryptocurrencies today, WRX is a digital coin created by WazirX. There will be a maximum of 1 Billion WRX coins ever created.
            </h4>
            <p>
                Of these, we’ve decided to do a free giveaway of 150 Million (15%) coins to the early adopters and traders of WazirX who signup early. This is your chance to own WRX coins, so don’t miss out!
            </p>
            <a href="#">
                Read more about how the 150M coins will be given away and how you can earn them.
            </a>
        </div>
    </section>

    <section class="home-featured">
        <h2>FEATURED IN</h2>
        <div>
            <ul>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home2.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/dist/img/slide-home2.png" alt=""></a></li>
            </ul>
        </div>
    </section>

    <section class="home-download">
        <h2>DOWNLOAD WAZIRX</h2>
        <ul>
            <li><a href="#"><img src="./assets/dist/img/store-g-white.svg" alt=""></a></li>
            <li><a href="#"><img src="./assets/dist/img/store-a-white.svg" alt=""></a></li>
            <li><a href="#"><img src="./assets/dist/img/store-w-white.svg" alt=""></a></li>
            <li><a href="#"><img src="./assets/dist/img/store-m-white.svg" alt=""></a></li>
        </ul>
    </section>

    <section class="home-edge">
        <div class="home-edge__item">
            <div class="home-edge__item-img">
                <img src="./assets/dist/img/edge/1.jpg" alt="">
            </div>
            <h3>BEST IN CLASS SECURITY</h3>
            <p>
                We’ve left no stone unturned to make WazirX India’s most secure exchange. We’re investing in regular security audits to ensure a highly secured trading platform for India.
            </p>
        </div>
        <div class="home-edge__item">
            <div class="home-edge__item-img">
                <img src="./assets/dist/img/edge/2.png" alt="">
            </div>
            <h3>SUPER FAST KYC</h3>
            <p>
                Top of the line identity verification systems process your KYC within a few hours of signing up, while ensuring the right KYC protocol. We’re building in robustness to sharply reduce verification times.
            </p>
        </div>
        <div class="home-edge__item">
            <div class="home-edge__item-img">
                <img src="./assets/dist/img/edge/3.jpg" alt="">
            </div>
            <h3>LIGHTNING SPEED TRANSACTIONS</h3>
            <p>
                WazirX can handle Millions of transactions. Our system infrastructure can scale up in a few seconds to match surging demand.
            </p>
        </div>
        <div class="home-edge__item">
            <div class="home-edge__item-img">
                <img src="./assets/dist/img/edge/4.png" alt="">
            </div>
            <h3>ACROSS 5 PLATFORMS</h3>
            <p>
                WazirX offers a seamless and powerful trading experience across all platforms - on Web, Android & iOS mobile, Windows, and Mac apps.
            </p>
        </div>
        <div class="home-edge__item">
            <div class="home-edge__item-img">
                <img src="./assets/dist/img/edge/5.jpg" alt="">
            </div>
            <h3>SIMPLE & EFFICIENT DESIGN</h3>
            <p>
                Trading on the WazirX platform is a super fast experience you’ll fall in love with! We’ve built technology used by Millions, and that experience has helped us build this powerful exchange.
            </p>
        </div>
        <div class="home-edge__item">
            <div class="home-edge__item-img">
                <img src="./assets/dist/img/edge/6.jpg" alt="">
            </div>
            <h3>BUILT BY BLOCKCHAIN BELIEVERS</h3>
            <p>
                We’re a team of hardcore traders & passionate blockchain believers. We understand exactly what you need. Powerful graphs, mobile apps, etc are features being built into WazirX from day 1.
            </p>
        </div>
    </section>

    <section class="home-team">
        <h2>THE TEAM</h2>
        <div class="home-team__grid">
            <div class="home-team__item">
                <div class="home-team__item-img">
                    <img src="./assets/dist/img/team/1.png" alt="">
                </div>
                <h3>Nischal Shetty</h3>
                <p>
                    Founded Crowdfire after an all-night coding session. Blockchain influencer on Twitter <a href="#">(Follow him)</a> with over 50K followers. Forbes 30 under 30. He's on a mission to involve everyone in the blockchain revolution!
                </p>
            </div>
            <div class="home-team__item">
                <div class="home-team__item-img">
                    <img src="./assets/dist/img/team/2.png" alt="">
                </div>
                <h3>Sameer Mhatre</h3>
                <p>
                    Ex-Network 18. Co-founder of Crowdfire. Oversees all things tech. An ace developer (full-stack) and designer wrapped into one. A huge Java and JS fan. Solves programming puzzles on TopCoder when not busy.
                </p>
            </div>
            <div class="home-team__item">
                <div class="home-team__item-img">
                    <img src="./assets/dist/img/team/3.png" alt="">
                </div>
                <h3>Siddharth Menon</h3>
                <p>
                    Co-founded Crowdfire. Heads Product at Wazirx. Has been involved in the crypto revolution since the beginning. Believes in open-economy, and that more people should be a part of it. <a href="#">(Follow him)</a>
                </p>
            </div>
        </div>
    </section>

    <section class="home-everyone">
        <h2>WAZIRX IS FOR EVERYONE</h2>
        <h4>
            We’re building an exchange that will bring anyone who believes in crypto to join the digital cryptocurrency revolution. The world is moving on to this revolution at an unprecedented pace.
        </h4>
        <p>
            Now is your time. With WazirX you can buy, sell & trade digital currencies with amazing ease, confidence and trust. Whether you’re a first time investor or a professional trader - WazirX has got you both covered!
        </p>
    </section>

@@include('./components/_footer_nav.html')
@@include('./components/_footer.html')
   