@@include('./components/_header.html')

<section class="formsec">
    <form class="valid" action="" novalidate>
        <h1>Login to WazirX</h1>
        <hr>
        <div class="input">
            <label for="email">EMAIL</label>
            <input type="email" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="input">
            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <hr>
        <input type="submit" value="login">
        <a href="./signup.html">Sign Up</a>
        <a href="#">Fogot Password?</a>
    </form>
</section>

@@include('./components/_footer.html')
