@@include('./components/_header.html')
    
    <section class="ref-hero">
        <img class="ref-hero__art --left" src="./assets/dist/img/ref-hero.png" alt="">
        <img class="ref-hero__art --right" src="./assets/dist/img/ref-hero-r.png" alt="">

        <h1>WazirX Referral Program</h1>
        <h3>Refer and earn 50% commission of every trade. Be your own Boss!</h3>
        <ul>
            <li>
                <img src="./assets/dist/img/ref-hero/1.svg" alt="">
                <span>Earn 50% commission on every trade!</span>
            </li>
            <li>
                <img src="./assets/dist/img/ref-hero/2.svg" alt="">
                <span>Payout within 24 hours!</span>
            </li>
            <li>
                <img src="./assets/dist/img/ref-hero/3.svg" alt="">
                <span>Unlimited earnings</span>
            </li>
            <li>
                <img src="./assets/dist/img/ref-hero/4.svg" alt="">
                <span>Easy Tracking & Reports</span>
            </li>
        </ul>
    </section>

    <section class="ref-howit">
        <h2>How it works?</h2>
        <div class="ref-howit__slider">
            <div class="ref-howit__card">
                <img src="./assets/dist/img/ref-howit/1.svg" alt="">
                <h3>Get your link</h3>
                <p>
                    Join WazirX and get your unique tracking link. You'll earn for customers who sign up through this link.
                </p>
                <h2>1</h2>
            </div>
            <div class="ref-howit__card">
                <img src="./assets/dist/img/ref-howit/2.svg" alt="">
                <h3>Share your link</h3>
                <p>
                    Share your links via Telegram, Twitter, Emails or anyway you want. The more you promote, the more you earn.
                </p>
                <h2>2</h2>
            </div>
            <div class="ref-howit__card">
                <img src="./assets/dist/img/ref-howit/3.svg" alt="">
                <h3>Earn when they trade!</h3>
                <p>
                    You earn 50% commission on every friend's trading fees! Even while you're asleep!
                </p>
                <h2>3</h2>
            </div>
        </div>
        <a href="#">Login to participate</a>
    </section>

    <section class="ref-faq">
        <h2>Frequently Asked Questions</h2>
        <div class="accordion">
            <div class="accordion__item">
                <label>How much can I earn in this trade commission program?</label>
                <div>
                    <span>
                        As much as you want. The earnings are truly unlimited! You get 50% of the fees we charge each trade of your friends. The more your referred friend's trade, the more you earn. So help your friend make more trades everyday and you will earn more commissions everyday!
                    </span>
                </div>
            </div>
            <div class="accordion__item">
                <label>When will the commission be credited to my account?</label>
                <div>
                    <span>
                        All commissions earned for a day is credited to your account once every 24 hours. Usually early in the morning.
                    </span>
                </div>
            </div>
            <div class="accordion__item">
                <label>Do you have any tips that will help me earn more rewards?</label>
                <div>
                    <span>
                        <ul>
                            <li>
                                Share your invite link with as many friends as you can. The more friends you share it with, the more likely they are to sign up. Use social media, chat and emails to share your invite link
                            </li>
                            <li>
                                Get your friends excited about crypto and why they need to sign up on an exchange like WazirX
                            </li>
                            <li>
                                Let your friends know about the benefits of signing up with your invite link instead of signing up directly
                            </li>
                            <li>
                                Let your friends know about the benefits of signing up with your invite link instead of signing up directly
                            </li>
                            <li>
                                Push your friends to trade everyday. The more they trade, the more you earn.
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="accordion__item">
                <label>Will I also receive WRX coins?</label>
                <div>
                    <span>
                        When your friend signs up with your referral link, both you and your friend gets 100 WRX each!
                    </span>
                </div>
            </div>
            <div class="accordion__item">
                <label>I referred a friend but I am not receiving commissions on his/her trades!</label>
                <div>
                    <span>
                        <p>There are some reasons why even though you think you may have successfully referred a friend, that referral did not count -</p>
                        <ul>
                            <li>Your friend clicked on your referral link but signed up through the app. The referral program does not currently support sign ups through the Android or iOS apps.</li>
                            <li>Your friend did not click on your referral link and instead signed up directly on WazirX</li>
                            <li>Your friend clicked on another referral link and signed up with that link</li>
                            <li>Your friend's KYC is still under verification or has been unapproved</li>
                            <li>You or your friend did not meet the rules below</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="accordion__item">
                <label>Important rules to keep in mind</label>
                <div>
                    <span>
                        <p>Please keep in mind the below rules when you participate in the WazirX Referral Program. These simple but important rules help us keep the program fair for the entire community.</p>
                        <ul>
                            <li>Do not misrepresent rewards when sharing the referral link with your friends</li>
                            <li>We constantly look out for fake or duplicate accounts. If we find something amiss we will disqualify those accounts from being part of the referral program and withdraw any rewards that may have been credited earlier</li>
                        </ul>
                        <sub>
                            <b>Note:</b>
                            While we run this program in good faith, WazirX reserves the right to make any changes to the referral program without prior notice. We may make such changes in view of changing market conditions, security or risk of fraud or any other reason. The decision on reward eligibility will be made by WazirX and will be final and binding. By participating in the referral program you acknowledge the above.If you find someone misusing the referral program, you can let us know by contacting us directly. We'll look into it and take the necessary steps to fix it.
                        </sub>
                    </span>
                </div>
            </div>
        </div>
    </section>

@@include('./components/_footer_nav.html')
@@include('./components/_footer.html')
   