@@include('./components/_header.html')

<section class="formsec">
    <form class="valid" action="" novalidate>
        <h1>Login to WazirX</h1>
        <hr>
        <p>Let’s start by submitting your registration details.</p>
        <div class="input">
            <label for="email">EMAIL</label>
            <input type="email" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="input">
            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <div class="input">
            <label for="password2">CONFIRM PASSWORD</label>
            <input type="password" name="password2" id="password2" placeholder="Re-enter password">
        </div>
        <hr>
        <div class="custom-checkbox">
            <input type="checkbox" name="terms">
            <label></label>
            <span>
                I agree to WazirX's <a href="#">Terms of Service</a>
            </span>
        </div>
        <input type="submit" value="sign up">
        <a href="./login.html">Log in</a>
    </form>
</section>

@@include('./components/_footer.html')
