</div>
    <footer class="footer">
        <div class="container">
            <nav>
            <div class="footer__col">
                <h4>About</h4>
                <ul class="footer__col--links">
                    <li>
                        <a href="#">Who We Are</a>
                    </li>
                    <li>
                        <a href="#">Our Process</a>
                    </li>
                    <li>
                        <a href="#">Our Products</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>LEGAL</h4>
                <ul class="footer__col--links">
                    <li>
                        <a href="#">Legal Notice</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Risks Of Investing</a>
                    </li>
                    <li>
                        <a href="#">Performance</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>INVESTOR REALATIONS</h4>
                <ul class="footer__col--links">
                    <li>
                        <a href="#">Prospectus</a>
                    </li>
                    <li>
                        <a href="#">Reports</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>STAY TUNED</h4>
                <ul class="footer__col--social">
                    <li>
                        <a href="#">

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <div class="footer-cr">
            Copyright ©2018 EntrepreneurShares LLC. All rights reserved.
        </div>
    </footer>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="./assets/dist/js/jquery.min.js"></script>
    <script src="./assets/dist/js/app.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0Tt2ZslsgTQtUA675J863O1CPvLnXy8&callback=initMap">
    </script>
</body>
</html>