<section class="tell-us">
    <h5>EntrepreurShares and You</h5>
    <h4>Tell Us Who You Are</h4>
    <h2>I am a <span style="color: #4a90e2">Retail Investor</span></h2>
    <h2>Looking for <span style="color: #4a90e2">a financial advisor</span></h2>
    <a class="btn btn-gradient smsm" href="#">Get Started</a>
</section>